<nz-tree [nzData]="treeData" style="padding: 10px 8px" (nzClick)="onSelect($event)" [nzTreeTemplate]="nzTreeTemplate" nzBlockNode>
  <ng-template #nzTreeTemplate let-node let-origin="origin">
    @if (origin.isDir) { @if (origin.expanded) {
    <custom-editor-icon [name]="'folder-fold'"></custom-editor-icon>
    } @else {
    <custom-editor-icon [name]="'folder'"></custom-editor-icon>
    } } @else {
    <custom-editor-icon [name]="origin.fileIcon"></custom-editor-icon>
    }
    <span class="tree-node-label">{{ origin.label }}</span>
  </ng-template>
</nz-tree>
