<layout-page [showTpLayout]="false">
  <div mainContent id="library-home-page">
    <div class="flex flex-1 flex-col page-container" style="overflow: hidden;">
      <nz-tabs [(nzSelectedIndex)]="tabSelectIndex" (nzSelectedIndexChange)="handleTabChange($event)">
        <nz-tab
          *ngFor="let tab of tabs; index as i"
          [nzTitle]="tab.title"
          >
        </nz-tab>
      </nz-tabs>

      <div class="main-container" [class.has-sub-tab]="['prompt', 'knowledge'].includes(currentTabId)">
        <meta-component-library style="height: 100%" *ngIf="currentTabId==='plugin'" [appType]="'Plugin'"></meta-component-library>
        <meta-component-library style="height: 100%" *ngIf="currentTabId==='mcp'" [appType]="'MCP'"></meta-component-library>
        <meta-prompt-template style="height: 100%" *ngIf="currentTabId==='prompt'"></meta-prompt-template>
        <knowledge-base-list style="height: 100%" *ngIf="currentTabId==='knowledge'"></knowledge-base-list>
        <memory-lib-management class="h-full" *ngIf="currentTabId === 'memoryLib'"></memory-lib-management>
        <component-lib-skill style="height: 100%" *ngIf="currentTabId ==='skill'"></component-lib-skill>
      </div>
    </div>
  </div>
</layout-page>
