<div class="main-container">
  <div class="flex w-full mb-[24px]" style="justify-content: space-between">
    <span class="text-[20px] font-bold leading-[30px]">
      {{ title }}
      <span class="ml-2" *ngIf="totalNumber">({{ totalNumber }})</span>
    </span>
    <div class="flex gap-[8px]">
      <button nz-button *ngIf="!isShowNoDataGuide && !isFirstLoading" class="guide-collapse-btn mr-[16px]" (click)="isShowGuide = !isShowGuide">
        <nz-icon [nzType]="isShowGuide ? 'up' : 'down'" nzTheme="outline" />
        {{ 'create_guide' | i18nextEager }}
      </button>
      <button (click)="toCreateTask()" nzType="primary" [disabled]="!subscribeBtnStatus" nz-button>
        {{ 'promptoptimizetasklist1' | i18nextEager }}
      </button>
    </div>
  </div>
  <div
    class="overflow-hidden guide-collapse-content shrink-0 w-full"
    *ngIf="!isShowNoDataGuide && !isFirstLoading"
    [ngClass]="{ 'h-[188px]': isShowGuide, 'h-[0px]': !isShowGuide, 'mb-[24px]': isShowGuide }"
  >
    <app-no-data-guide [isSmall]="true" [type]="'prompt'" (clickDesc)="handleGuideClick($event)"></app-no-data-guide>
  </div>
  <div class="flex-grow flex flex-col gap-[24px] w-full overflow-hidden">
    <div class="w-full flex items-center">
      <div class="tab-min-width mr-2" *ngIf="!isLibraryPrompt">
        <nz-tabset sub class="h-[30px]" [(nzSelectedIndex)]="selectTableIndex" (nzSelectChange)="handleTabChange($event)">
          <nz-tab class="text-[14px]" *ngFor="let tab of subTabs" [nzTitle]="tab.title" >
          </nz-tab>
        </nz-tabset>
      </div>
      <ng-container *ngIf="!isShowNoDataGuide && !isFirstLoading">
        <nz-select
          class="mr-2"
          (ngModelChange)="handleSearch()"
          [(ngModel)]="filterOption.statusFilter.value"
          [nzOptions]="filterOption.statusFilter.options"
          nzMode="default"
        >
          <ng-template #nzSelectTemplate let-item>
            <div class="flex gap-1">
              <span>{{ item.label }}</span>
              <span>{{ item.num }}</span>
            </div>
          </ng-template>
        </nz-select>
        <nz-select class="mr-2" (ngModelChange)="handleSearch()" [(ngModel)]="filterOption.typeFilter.value" [nzOptions]="filterOption.typeFilter.options">
        </nz-select>
        <nz-input-search (ngModelChange)="handleSearch()" [(ngModel)]="filterOption.searchText.value" class="flex-grow mr-2"> </nz-input-search>
        <button
          (click)="listTasks()"
          [nz-tooltip]="'prompt_task_refresh' | i18nextEager"
          nz-button
          nzType="default"
        >
          <img alt="" [src]="changeUrl('assets/prompt/refresh.svg')" />
        </button>
      </ng-container>
    </div>
    <nz-spin *ngIf="isLoading" [nzSpinning]="isLoading" class="loading-icon"></nz-spin>
    <nz-table
      *ngIf="!isLoading && taskList.data.length && !isFirstLoading"
      [nzData]="displayedData"
      class="height-[calc(100% - 110px)] overflow-hidden"
      [nzBordered]="false"
      [nzShowSizeChanger]="false"
      [nzShowPagination]="false"
    >
      <div class="table-wrapper h-full">
        <table>
          <thead>
            <tr style="height: 48px">
              <th *ngFor="let column of columns" [nzWidth]="column?.width ?? ''">{{ column.title }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of displayedData" style="height: 60px">
              <td nz-ellipsis>{{ task.taskName }}</td>
              <td nz-ellipsis>{{ task.type }}</td>
              <td nz-ellipsis>{{ task.desc }}</td>
              <td>
                <meta-prompt-optimize-task-status [progressRate]="task.progressRate" [status]="task.status" [tip]="task.log">
                </meta-prompt-optimize-task-status>
              </td>
              <td nz-ellipsis>{{ task.executionTime | formateTime }}</td>
              <td nz-ellipsis>{{ task.updatedTime | formateTime }}</td>
              <td>
                <div nz-dropdown [nzDropdownMenu]="actionMenu" nzTrigger="click" [nzPlacement]="'bottomRight'">
                  <ng-container *ngFor="let action of dataToItemsFn(task)">
                    <ng-container *nzStringTemplateOutlet="action.label">{{ action.label }}</ng-container>
                  </ng-container>
                </div>
                <nz-dropdown-menu #actionMenu="nzDropdownMenu">
                  <ul nz-menu>
                    <ng-container *ngFor="let action of dataToItemsFn(task)">
                      <li nz-menu-item *ngIf="action.id !== 'del'" [nzDisabled]="action.disabled" (click)="onSelect(action, task)">
                        {{ action.label }}
                      </li>
                      <li nz-menu-item *ngIf="action.id === 'del'" [nzDisabled]="action.disabled" (click)="action.popConfig.close()">
                        {{ action.label }}
                      </li>
                    </ng-container>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nz-table>

    <div *ngIf="!isLoading && !taskList.data.length" class="no-data">
      <app-new-common-no-data-with-btn
        *ngIf="!searchNameIsEmpty"
        (clear)="handleClickClearSearch()"
        (create)="toCreateTask()"
        [firstLineData]="'no_data' | i18nextEager"
        [noDataBtnStr]="'promptoptimizetasklist1' | i18nextEager"
        [tutorialType]="'optimizationTask'"
        [type]="'filterNoData'"
      />
      <app-no-data-guide *ngIf="isShowNoDataGuide" [type]="'prompt'" (clickDesc)="handleGuideClick($event)"></app-no-data-guide>
    </div>
    <nz-pagination
      *ngIf="totalNumber"
      [nzPageIndex]="currentPage"
      [nzTotal]="totalNumber"
      [nzPageSize]="pageSize.size"
      [nzShowSizeChanger]="true"
      [nzPageSizeOptions]="[10, 15, 20]"
      (nzPageIndexChange)="handlePageChange({ currentPage: $event, size: pageSize.size })"
    ></nz-pagination>
  </div>
</div>
