<div class="main-container">
  <div class="flex w-full mb-[24px]" style="justify-content: space-between">
    <span class="text-[20px] font-bold leading-[30px]">
      {{ title }}
      <span class="ml-2" *ngIf="totalNumber">({{ totalNumber }})</span>
    </span>
    <div class="flex gap-[8px]">
      <button nz-button *ngIf="!isShowNoDataGuide && !isFirstLoading" class="guide-collapse-btn mr-[16px]" (click)="isShowGuide = !isShowGuide">
        <nz-icon [nzType]="isShowGuide ? 'up' : 'down'" nzTheme="outline" />
        {{ 'create_guide' | i18nextEager }}
      </button>
      <button (click)="toCreateTask()" nzType="primary" [disabled]="!subscribeBtnStatus" nz-button>
        {{ 'promptoptimizetasklist1' | i18nextEager }}
      </button>
    </div>
  </div>
  <div
    class="overflow-hidden guide-collapse-content shrink-0 w-full"
    *ngIf="!isShowNoDataGuide && !isFirstLoading"
    [ngClass]="{ 'h-[188px]': isShowGuide, 'h-[0px]': !isShowGuide, 'mb-[24px]': isShowGuide }"
  >
    <app-no-data-guide [isSmall]="true" [type]="'prompt'" (clickDesc)="handleGuideClick($event)"></app-no-data-guide>
  </div>
  <div class="flex-grow flex flex-col gap-[24px] w-full overflow-hidden">
    <div class="w-full flex items-center">
      <div class="tab-min-width mr-2" *ngIf="!isLibraryPrompt">
        <nz-tabset sub class="h-[30px]" [(nzSelectedIndex)]="selectTableIndex" (nzSelectChange)="handleTabChange($event)">
          <nz-tab class="text-[14px]" *ngFor="let tab of subTabs" [nzTitle]="tab.title"> </nz-tab>
        </nz-tabset>
      </div>
      <ng-container *ngIf="!isShowNoDataGuide && !isFirstLoading">
        <nz-select class="mr-2 w-[200px]" (ngModelChange)="handleSearch()" [(ngModel)]="filterOption.statusFilter.value">
          @for (item of filterOption.statusFilter.options; track item) {
            <nz-option [nzLabel]="item.label + ' ' + item.num" [nzValue]="item.value" />
          }
        </nz-select>
        <nz-select class="mr-2 w-[200px]" (ngModelChange)="handleSearch()" [(ngModel)]="filterOption.typeFilter.value">
          @for (item of filterOption.typeFilter.options; track item) {
            <nz-option [nzLabel]="item.label + ' ' + item.num" [nzValue]="item.value" />
          }
        </nz-select>
        <input nz-input [(ngModel)]="filterOption.searchText.value" class="w-[calc(100%-32px)]" (ngModelChange)="handleSearch()" />
        <button (click)="listTasks()" [nz-tooltip]="'prompt_task_refresh' | i18nextEager" nz-button nzType="default">
          <img alt="" [src]="changeUrl('assets/prompt/refresh.svg')" />
        </button>
      </ng-container>
    </div>
    <nz-spin *ngIf="isLoading" [nzSpinning]="isLoading" class="loading-icon"></nz-spin>
    <nz-table
      *ngIf="!isLoading && taskList.data.length && !isFirstLoading"
      [nzData]="taskList.data"
      class="h-[calc(100% - 110px)] overflow-auto"
      [nzBordered]="false"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
    >
      <thead>
        <tr style="height: 48px">
          @for (item of columns; track item) {
            <th [nzWidth]="item?.width ?? ''">{{ item.title }}</th>
          }
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of taskList.data" style="height: 60px">
          <td nz-ellipsis>{{ task.taskName }}</td>
          <td nz-ellipsis>{{ task.type }}</td>
          <td nz-ellipsis>{{ task.desc }}</td>
          <td>
            <meta-prompt-optimize-task-status [progressRate]="task.progressRate" [status]="task.status" [tip]="task.log"> </meta-prompt-optimize-task-status>
          </td>
          <td nz-ellipsis>{{ task.executionTime | formateTime }}</td>
          <td nz-ellipsis>{{ task.updatedTime | formateTime }}</td>
          <td>
            @for (action of task.actionList; track action) {
              @if (action.id !== 'del') {
                <a nz-button nzType="link" [disabled]="action.disabled" (click)="onSelect(action, task)">
                  {{ action.label }}
                </a>
              } @else {
                <a nz-button nzType="link" [disabled]="action.disabled" (click)="action.popConfig.close()">
                  {{ action.label }}
                </a>
              }
            }
          </td>
        </tr>
      </tbody>
    </nz-table>

    <div *ngIf="!isLoading && !taskList.data.length" class="no-data">
      <app-new-common-no-data-with-btn
        *ngIf="!searchNameIsEmpty"
        (clear)="handleClickClearSearch()"
        (create)="toCreateTask()"
        [firstLineData]="'no_data' | i18nextEager"
        [noDataBtnStr]="'promptoptimizetasklist1' | i18nextEager"
        [tutorialType]="'optimizationTask'"
        [type]="'filterNoData'"
      />
      <app-no-data-guide *ngIf="isShowNoDataGuide" [type]="'prompt'" (clickDesc)="handleGuideClick($event)"></app-no-data-guide>
    </div>
    <nz-pagination
      *ngIf="totalNumber"
      nzAlign="end"
      [(nzPageIndex)]="currentPage"
      [nzTotal]="totalNumber"
      [(nzPageSize)]="pageSize.size"
      nzShowSizeChanger
      [nzPageSizeOptions]="[10, 15, 20]"
      (nzPageIndexChange)="handlePageChange($event)"
      (nzPageSizeChange)="handlePageSizeChange()"
    ></nz-pagination>
  </div>
</div>
