<div class="flex h-full w-full flex-col mt-[-12px]">

  <div class="block h-[calc(100%-45px)] my-[12px] mr-[-12px]">
    <div class="relative h-full w-full overflow-auto pr-[12px]">
      <meta-acc-block class="block">
        <ng-template #blockTitle>
          <div class="flex items-center gap-2 font-bold">
            <span class="font-bold">{{ 'globalconfig_2'|i18nextEager }}</span>
          </div>
        </ng-template>
        <ng-template #content>
          <div class="mt-[16px]">
            <div class="switch-environment">{{ 'globalconfig_1'|i18nextEager }}</div>
            <nz-select
              style="width: 100%"
              [nzAllowClear]="true"
              [(ngModel)]="selectEnv"
              (ngModelChange)="envSelect($event); ngModelChange($event)"
              [nzCustomTemplate]="selectedEnvTemplate"
            >
              <nz-option
                *ngFor="let item of envCfgOptions"
                [nzValue]="item.id"
                [nzLabel]="item.name"
                [nzDisabled]="item.disabled"
                nzCustomContent
              >
                <span>{{ item.name }}</span>
                <nz-tag *ngIf="item.isDefault" [nzColor]="'green'" style="margin-left: 4px;">{{ 'default'|i18nextEager }}</nz-tag>
              </nz-option>
            </nz-select>
            <ng-template #selectedEnvTemplate let-selected>
              <span>{{ selected.nzLabel }}</span>
              <ng-container *ngFor="let item of envCfgOptions">
                <nz-tag *ngIf="item.id === selected.nzValue && item.isDefault" [nzColor]="'green'" style="margin-left: 4px;">{{ 'default'|i18nextEager }}</nz-tag>
              </ng-container>
            </ng-template>
            <div class="relative inline-block" style="margin-top: 8px;">
              <button nz-button nzType="default" [disabled]="!selectEnv" (click)="showCard = !showCard;">{{ 'globalconfig_3'|i18nextEager }}</button>
              <div *ngIf="showCard"  class="card absolute z-10 top-0 left-full ml-2 w-[280px] p-4 bg-white border rounded shadow-lg">
                <env-variable [envId]="selectEnv"></env-variable>
              </div>
            </div>
          </div>
        </ng-template>
      </meta-acc-block>

      <div class="my-[16px] h-[1px] bg-[#f0f0f0]" *ngIf="false"></div>

      <meta-acc-block class="block">
        <ng-template #blockTitle>
          <div class="flex items-center gap-2 font-bold">
            <span class="font-bold">{{ 'default_model' | i18nextEager }}</span>
            <nz-icon nzType="question-circle" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'default_model_title_tip' | i18nextEager" class="cursor-pointer"></nz-icon>
          </div>
        </ng-template>
        <ng-template #content>
          <div class="mt-[16px] mb-2">
            {{ 'model_configuration' | i18nextEager }}
          </div>
          <llm-select [selectedModel]="defaultModel" [modelValidation]="modelValidation"
                      (update)="updateModel($event)" (showOptions)="updateModelOptions($event)"></llm-select>
          <div class="mt-[16px]">
            <label nz-checkbox
                   [ngModel]="modelSwitch"
                   (ngModelChange)="modelSwitch = $event">
              {{ 'replace_selected_with_default_models' | i18nextEager }}
            </label>
          </div>
        </ng-template>
      </meta-acc-block>

      <div class="my-[16px] h-[1px] bg-[#f0f0f0]" *ngIf="workflowType === 'chat'"></div>

      <meta-acc-block *ngIf="workflowType === 'chat'" class="block">
        <ng-template #right></ng-template>
        <ng-template #blockTitle>
          <span class="font-bold">{{
              'dialogue_experience' | i18nextEager
            }}</span>
          <nz-icon nzType="question-circle" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'dialogue_experience_tip' | i18nextEager" class="cursor-pointer"></nz-icon>
        </ng-template>
        <ng-template #content>
          <div class="mt-4">
            <div class="relative flex flex-col gap-[8px]">
              <div class="flex justify-between">
                <span>{{ 'prologue' | i18nextEager }}</span>
                <div
                  [ngStyle]="{
                    cursor: modelOptions.length ? 'pointer' : 'not-allowed'
                  }"
                  *ngIf="!prologue"
                  (click)="confirmGenPrologue()"
                >
                  <img alt=""
                       [src]="
                      changeUrl(
                        'assets/agent-center/agent/optimize-prompt-icon.svg'
                      )
                    "
                  />
                </div>
                <div
                  *ngIf="prologue"
                  [ngStyle]="{
                    cursor: modelOptions.length ? 'pointer' : 'not-allowed'
                  }"
                  nz-popover
                  nzPopoverTrigger="click"
                  [nzPopoverContent]="autoGenerateTemplate"
                  nzPopoverPlacement="bottomLeft"
                  #autoGenProloguePopover="nzPopover"
                  (click)="handleGenPrologueTip()"
                >
                  <img alt=""
                       [src]="
                      changeUrl(
                        'assets/agent-center/agent/optimize-prompt-icon.svg'
                      )
                    "
                  />
                </div>
              </div>

              <div class="w-full">
                <nz-spin [nzSpinning]="isGenPrologueLoading">
                  <textarea
                    nz-input
                    [placeholder]="'prologue_descrption_tip' | i18nextEager"
                    [(ngModel)]="prologue"
                    style="width: 100%; height: 84px; min-width: 100%"
                    [maxlength]="226"
                    [nzAutosize]="{ minRows: 3, maxRows: 6 }"
                  ></textarea>
                </nz-spin>
              </div>
            </div>

            <div class="my-[16px] h-[1px] bg-[#f0f0f0]"></div>

            <meta-acc-block class="block">
              <ng-template #blockTitle>
                <span>{{ 'recommended_questions' | i18nextEager }}</span>
              </ng-template>

              <ng-template #right>
                <div
                  [ngStyle]="{
                    cursor: modelOptions.length ? 'pointer' : 'not-allowed'
                  }"
                  *ngIf="!questions.length"
                  (click)="confirmGenQuestions()"
                >
                  <img alt=""
                       [src]="
                      changeUrl(
                        'assets/agent-center/agent/optimize-prompt-icon.svg'
                      )
                    "
                  />
                </div>
                <div
                  [ngStyle]="{
                    cursor: modelOptions.length ? 'pointer' : 'not-allowed'
                  }"
                  *ngIf="questions.length"
                  nz-popover
                  nzPopoverTrigger="click"
                  [nzPopoverContent]="autoGeneQuestionTemplate"
                  nzPopoverPlacement="bottomLeft"
                  #autoGenePopover="nzPopover"
                  (click)="handleAutoGeneQuestionTip()"
                >
                  <img alt=""
                       [src]="
                      changeUrl(
                        'assets/agent-center/agent/optimize-prompt-icon.svg'
                      )
                    "
                  />
                </div>
              </ng-template>

              <ng-template #content>
                <nz-spin [nzSpinning]="isGenQuestionLoading">
                  <div class="mt-[16px] flex flex-col gap-2">
                    <div
                      class="single-question"
                      *ngFor="
                        let item of questions;
                        index as i;
                        trackBy: trackByFn
                      "
                    >
                      <textarea
                        class="question-textarea"
                        nz-input
                        [placeholder]="'input_placeholder' | i18nextEager"
                        [maxlength]="500"
                        cdkTextareaAutosize
                        [cdkAutosizeMinRows]="1"
                        [(ngModel)]="questions[i]"
                        (ngModelChange)="onQuesInput(i)"
                        (blur)="onQuesBlur(i)"
                      ></textarea>
                      <nz-icon nzType="minus-circle" nzTheme="outline"
                               (click)="deleteQuestion(i)"
                               [ngClass]="
                          item === ''
                            ? 'disabled-delete-icon'
                            : 'delete-question-icon'
                        "
                      ></nz-icon>
                    </div>
                  </div>
                </nz-spin>
              </ng-template>
            </meta-acc-block>
            <div class="my-[16px] h-[1px] bg-[#f0f0f0]" *ngIf="workflowType === 'chat'"></div>
            <meta-acc-block *ngIf="workflowType === 'chat'" class="block">
              <ng-template #blockTitle>
                <span>{{ probeConfig.title }}</span>
              </ng-template>
              <ng-template #right>
                <nz-switch
                  [nzDisabled]="probeConfig.disable"
                  [(ngModel)]="probeConfig.enabled"
                ></nz-switch>
              </ng-template>
              <ng-template #content>
                <div class="security-row3">
                  <span *ngIf="!probeConfig.enabled">{{ probeConfig.closeDesc }}</span>
                  <span *ngIf="probeConfig.enabled">{{ probeConfig.openDesc }}</span>
                </div>
                <div class="security-row2" *ngIf="probeConfig.enabled">
                  <div class="security-row2-left">
                    <span>{{ probeConfig.followUpPrompt }}</span>
                    <nz-icon
                      nzType="info-circle"
                      nzTheme="outline"
                      style="font-size: 14px"
                      nz-tooltip [nzTooltipTitle]="probeConfig.promptDescTip"
                    ></nz-icon>
                  </div>
                </div>
                <div class="security-row3" *ngIf="probeConfig.enabled">
            <textarea
              nz-input
              [placeholder]="followupPlaceholder"
              [(ngModel)]="probeConfig.probeInputed"
              [disabled]="isFlowReadonly"
              style="width: 100%; height: 109px; min-width: 100%"
              [maxlength]="512"
              [nzAutosize]="{ minRows: 3, maxRows: 6 }"
            ></textarea>
                </div>
              </ng-template>
            </meta-acc-block>
          </div>
        </ng-template>
      </meta-acc-block >
      <div
        *ngIf="workflowType === 'chat' && ltmEnabled"
        class="pb-[16px] pt-[16px]"
      >
        <div class="flex items-center justify-between">
          <div class="flex items-center font-bold leading-[18px]">
            {{ 'LTM' | i18nextEager }}
          </div>
          <nz-switch
            id="switch-basic"
            [(ngModel)]="longTermMemo"
            nzSize="small"
          ></nz-switch>
        </div>

        <div class="mt-4 text-[#595959]">
          {{ 'workflow_summarize_configuring_message_tip' | i18nextEager }}
        </div>
      </div>

      <div
        *ngIf="workflowType === 'chat'"
        class="my-[16px] h-[1px] bg-[#f0f0f0]"
      ></div>

      <meta-acc-block class="block" *ngIf="workflowType === 'chat'">
        <ng-template #blockTitle>
          <div class="flex items-center gap-2 font-bold">
            <span class="font-bold">{{
                'memory_variable' | i18nextEager
              }}</span>
          </div>
        </ng-template>
        <ng-template #right></ng-template>

        <ng-template #content>
          <div class="mt-4 flex flex-col gap-2">
            <meta-acc-block class="block" *ngIf="ltmEnabled && longTermMemo">
              <ng-template #blockTitle>
                <div class="flex items-center gap-2 font-bold">
                  <span class="font-bold">{{
                      'memory_storage' | i18nextEager
                    }}</span>
                  <nz-icon nzType="question-circle" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'memory_storage_title_tip' | i18nextEager" class="cursor-pointer"></nz-icon>
                </div>
              </ng-template>
              <ng-template #right>
                <div class="flex items-center justify-center">
                  <button
                    class="w-fit"
                    nz-button
                    nzType="default"
                    nz-tooltip [nzTooltipTitle]="'add_params' | i18nextEager"
                    (click)="addAutoMemo()"
                  >
                    <nz-icon nzType="plus" nzTheme="outline" class="!text-base !text-[#1476FF]"></nz-icon>
                  </button>
                </div>
              </ng-template>

              <ng-template #content>
                <div class="mt-2 flex gap-1">
                  <div class="w-1/3">{{ 'name' | i18nextEager }}</div>
                  <div class="w-1/3">{{ 'description' | i18nextEager }}</div>
                  <div class="w-1/3">
                    {{
                      'default_v' | i18nextEager
                    }}{{ 'optional' | i18nextEager }}
                  </div>
                  <div class="w-4"></div>
                </div>

                <form #autoMemoForm="ngForm">
                  <div
                    *ngFor="let param of autoMemos; index as i"
                    class="mt-2 flex gap-1"
                  >
                    <div class="w-1/3">
                      <input
                        style="width: 100%"
                        nz-input
                        type="text"
                        [name]="'autoMemoName' + i"
                        [maxlength]="paramNameMaxLen"
                        [title]="param.name"
                        [(ngModel)]="param.name"
                        [placeholder]="'input_placeholder' | i18nextEager"
                        (input)="onNameChange()"
                        [valueValidityValidator]="getAutoNames(i)"
                      />
                    </div>

                    <div class="w-1/3">
                      <input
                        style="width: 100%"
                        nz-input
                        type="text"
                        [placeholder]="'input_placeholder' | i18nextEager"
                        (keydown)="$event.stopPropagation()"
                        [name]="'autoMemoDescription' + i"
                        nonEmptyValidator
                        [(ngModel)]="param.description"
                        [title]="param.description"
                      />
                    </div>

                    <div class="w-1/3">
                      <input
                        style="width: 100%"
                        nz-input
                        type="text"
                        [placeholder]="'input_placeholder' | i18nextEager"
                        (keydown)="$event.stopPropagation()"
                        [name]="'autoMemoDefault' + i"
                        [(ngModel)]="param.value.default"
                        [title]="param.value.default"
                      />
                    </div>

                    <nz-icon
                      style="
                        font-size: 16px;
                        color: #191919;
                        cursor: pointer;
                        padding-top: 8px;
                      "
                      nzType="delete"
                      nzTheme="outline"
                      (click)="onDeleteMemoVar(i)"
                    />
                  </div>
                </form>
              </ng-template>
            </meta-acc-block>

            <div
              class="my-[16px] h-[1px] bg-[#f0f0f0]"
              *ngIf="ltmEnabled && longTermMemo"
            ></div>

            <meta-acc-block class="block">
              <ng-template #blockTitle>
                <div class="flex items-center gap-2 font-bold">
                  <span class="font-bold">{{
                      'node_assignment' | i18nextEager
                    }}</span>
                  <nz-icon nzType="question-circle" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'node_assignment_title_tip' | i18nextEager" class="cursor-pointer"></nz-icon>
                </div>
              </ng-template>
              <ng-template #right>
                <div class="flex items-center justify-center">
                  <button
                    (click)="importJson()"
                    class="mr-[6px] w-fit"
                    nz-button
                    nzType="default"
                    nz-tooltip [nzTooltipTitle]="'import_json' | i18nextEager"
                  >
                    <img
                      class=""
                      [src]="changeUrl('assets/agent-center/images/import.svg')"
                      alt="import"
                    />
                  </button>
                  <button
                    (click)="addAssignmentMemos()"
                    class="w-fit"
                    nz-button
                    nzType="default"
                    nz-tooltip [nzTooltipTitle]="'add_params' | i18nextEager"
                  >
                    <nz-icon nzType="plus" nzTheme="outline" class="!text-base !text-[#1476FF]"></nz-icon>
                  </button>
                </div>
              </ng-template>

              <ng-template #content>
                <div class="mt-2 flex items-center gap-1">
                  <div
                    class="text-label"
                    [ngStyle]="{
                      flex:1
                    }"
                  >
                    {{ 'name' | i18nextEager }}
                  </div>
                  <div
                    class="text-label"
                    [ngStyle]="{
                      width: '150px'
                    }"
                  >
                    {{ 'type' | i18nextEager }}
                  </div>
                  <div [ngStyle]="{
                    width: isNormalView?'68px':'55px'
                 }">
                  </div>
                </div>

                <form #assignmentMemoForm="ngForm">
                  <nz-tree
                    [nzData]="treeNodes"
                    [nzTreeTemplate]="nzTreeTemplate"
                  >
                  </nz-tree>
                  <ng-template #nzTreeTemplate let-node let-origin="origin">
                    <div class="mt-[8px] flex w-full gap-1">
                      <div
                        [ngStyle]="{
                          flex: 1,
                        }"
                      >
                        <input
                          style="width: 100%"
                          nz-input
                          type="text"
                          [placeholder]="'input_placeholder' | i18nextEager"
                          [maxlength]="paramNameMaxLen"
                          [name]="'assignmentName' + origin.key"
                          variableNameValidator
                          [title]="origin.name"
                          [(ngModel)]="origin.name"
                          (input)="onNameChange()"
                          [valueValidityValidator]="getAssignmentNames(origin)"
                        />
                      </div>

                      <div
                        [ngStyle]="{
                          width: '150px'
                        }"
                      >
                        <nz-select
                          *ngIf="origin.depth === 3; else otherTypes"
                          style="width: 100%"
                          [name]="'assignmentValue' + origin.key"
                          [(ngModel)]="origin.type"
                          [nzOptions]="noneObjDataTypes"
                          nzShowSearch
                          [nzDisabled]="origin.source === 'system'"
                          [nzPlaceHolder]="'select_placeholder' | i18nextEager"
                        >
                        </nz-select>

                        <ng-template #otherTypes>
                          <nz-select
                            style="width: 100%"
                            [name]="'assignmentValue' + origin.key"
                            [(ngModel)]="origin.type"
                            [nzOptions]="outputDataTypes"
                            (ngModelChange)="onOutputParamTypeChange(origin)"
                            nzShowSearch
                            [nzDisabled]="origin.source === 'system'"
                            [nzPlaceHolder]="'select_placeholder' | i18nextEager"
                          >
                          </nz-select>
                        </ng-template>
                      </div>
                      <div
                        class="h-[28px] w-[16px]"
                        [ngStyle]="{
                          'margin-left': opMarginLeft
                        }"
                      >
                        <meta-add-props-icon
                          *ngIf="isObjectLikeType(origin.type)"
                          (click)="addChild(origin)"
                        />
                      </div>

                      <div
                        class="flex h-[28px] w-[16px] items-center justify-center"
                        [ngStyle]="{
                          'margin-left': opMarginLeft
                        }"
                      >
                        <nz-icon
                          *ngIf="showDelete(origin)"
                          (click)="onDeleteOutput(origin)"
                          style="
                            font-size: 16px;
                            color: #191919;
                            cursor: pointer;
                          "
                          nzType="delete"
                          nzTheme="outline"
                        />
                      </div>

                      <div
                        class="h-[28px] w-[16px]"
                        [ngStyle]="{
                          'margin-left': opMarginLeft
                        }"
                      >
                        <meta-set-default
                          *ngIf="origin.depth === 0"
                          [param]="origin"
                          [isShowDesc]="true"
                        >
                        </meta-set-default>
                      </div>
                    </div>
                  </ng-template>
                </form>
              </ng-template>
            </meta-acc-block>
          </div>
        </ng-template>
      </meta-acc-block>

      <div
        *ngIf="configServ.isSupportUserPersona()"
        class="my-[16px] h-[1px] bg-[#f0f0f0]"
      ></div>

      <div class="mt-[16px]">
        @if (configServ.isSupportUserPersona()) {
          <memory-lib-selector
            [isNeedPadding]="false"
            [memoryLibs]="memoryLibData.data"
            [tipType]="memoryLibSelectorTipType.ICON"
            [loading]="memoryLibData.isLoading"
            (memoryLibSelectChange)="memoryLibSelectChange($event)"></memory-lib-selector>
        }
      </div>

      <div class="my-[16px] h-[1px] bg-[#f0f0f0]"></div>

      <meta-acc-block class="block mb-[16px]">
        <ng-template #blockTitle>
          <div class="flex items-center font-bold">
            <span class="font-bold">{{'llmmodalcomponent_418'| i18nextEager}}</span>
            <nz-icon nzType="question-circle" nzTheme="outline" nz-tooltip *ngIf="showSafetyBarrier" [nzTooltipTitle]="'llmmodalcomponent_419'| i18nextEager"></nz-icon>
          </div>
        </ng-template>
        <ng-template #content>
          <div class="security-row2">
            <div class="security-row2-left">
              <span>{{'content_review_configuration'| i18nextEager}}</span>
              <nz-icon
                *ngIf="showSettingContentReview"
                nzType="info-circle"
                nzTheme="outline"
                style="font-size: 14px"
              ></nz-icon>
            </div>
            <div class="security-row2-right">
              <div
                *ngIf="auditConfig.enabled"
                class="aligns-center flex whitespace-nowrap"
                (click)="openAuditHalfModal()"
                style="margin-right: 16px"
              >
                <button nz-button nzType="default" nzSize="small">
                  <nz-icon nzType="setting" nzTheme="outline"></nz-icon>
                  <span>{{'cfg_text'|i18nextEager}}</span>
                </button>
              </div>
              <nz-switch
                (ngModelChange)="onSwitchChange($event)"
                [nzDisabled]="isFlowReadonly"
                [(ngModel)]="auditConfig.enabled"
              ></nz-switch>
            </div>
          </div>
          <div class="security-row3">
            {{'globalconfigcomponent_402'| i18nextEager}}
          </div>

          <div class="security-row2" *ngIf="showSafetyBarrier">
            <div class="security-row2-left">
              <span>{{'globalconfigcomponent_403'| i18nextEager}}</span>
            </div>
            <div class="security-row2-right" *ngIf="showSafetyBarrier">
              <nz-switch
                (ngModelChange)="securitySwitchChange($event)"
                [nzDisabled]="isFlowReadonly"
                [(ngModel)]="securityConfig"
              ></nz-switch>
            </div>
          </div>
          <div class="security-row3">
            <div>{{'globalconfigcomponent_404'| i18nextEager}}</div>
            <div>{{'globalconfigcomponent_405'| i18nextEager}}</div>
          </div>
        </ng-template>
      </meta-acc-block>

      <div class="my-[16px] h-[1px] bg-[#f0f0f0]" *ngIf="workflowType === 'chat' && voiceEnable"></div>

      <meta-acc-block class="block" *ngIf="workflowType === 'chat' && voiceEnable">
        <ng-template #blockTitle>
          <div class="flex items-center gap-2 font-bold">
            <span class="font-bold">{{
                'voice_interaction' | i18nextEager
              }}</span>
            <nz-icon nzType="question-circle" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'voice_interaction_tip1' | i18nextEager" class="cursor-pointer"></nz-icon>
          </div>
        </ng-template>

        <ng-template #content>
          <div class="mt-4 flex flex-col gap-2">
            <div class="">
              <p>{{ 'select_timbre' | i18nextEager }}</p>
              <div class="mt-[8px]">
                <div
                  class="flex h-[54px] cursor-pointer items-center gap-x-[8px] rounded-[8px] bg-[#fafafa] px-[12px] py-[8px]"
                  nz-popover
                  [nzPopoverContent]="voiceConfigTemplate"
                  nzPopoverTrigger="click"
                  [(nzPopoverVisible)]="showVoiceTip"
                  (click)="voiceTipTrigger($event)"
                >
                  <img class="h-[32px] w-[32px]" [src]="voiceIcon" alt=""/>
                  <div class="flex-1">
                    <div class="font-semibold">{{ voiceConfig.name }}-{{ voiceConfig.type }}</div>
                    <div class="text-[#808080]">{{ voiceConfig.scene }}</div>
                  </div>
                  <button
                    type="button"
                    nz-button
                    nzType="default"
                    nzShape="circle"
                  >
                    <nz-icon nzType="swap" nzTheme="outline"></nz-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </meta-acc-block>
    </div>
  </div>

  <div>
    <div class="flex justify-end gap-2 pr-[20px]">
      <button type="button" nz-button (click)="dismiss()">
        {{ 'cancel' | i18nextEager }}
      </button>
      <button type="button" nz-button nzType="primary" (click)="onConfirm()">
        {{ 'ok' | i18nextEager }}
      </button>
    </div>
  </div>
</div>

<!-- 音色的Tip模板 -->
<ng-template #voiceConfigTemplate>
  <div (clickOutside)="voiceTipTrigger()">
    <div
      *ngFor="let item of timbreList"
      class="flex w-[320px] cursor-pointer items-center justify-between py-[7px]"
      (click)="onTimbreSelect(item)"
    >
      <div>
        <span
          [ngClass]="{ 'text-[#1476ff]': voiceConfig.timbre === item.property }"
        >
          {{ item.name }}-{{ item.type }}
        </span>
        <span class="ml-[8px] text-desc">{{ item.scene }}</span>
      </div>
      <button
        type="button"
        nz-button
        nzType="default"
        nzShape="circle"
        (click)="onAudition($event, item)"
      >
        <nz-icon nzType="sound" nzTheme="outline"></nz-icon>
      </button>
    </div>
  </div>
</ng-template>

<!-- 智能生成开场白的Tip模板 -->
<ng-template #autoGenerateTemplate>
  <ng-container
    *ngTemplateOutlet="
      autoGenerateContent;
      context: { config: prologueAlterModal, close: tooltipClose }
    "
  ></ng-container>
</ng-template>

<!-- 智能生成推荐问题的Tip模板 -->
<ng-template #autoGeneQuestionTemplate>
  <ng-container
    *ngTemplateOutlet="
      autoGenerateContent;
      context: { config: questionsAlterModal, close: tooltipClose }
    "
  ></ng-container>
</ng-template>

<ng-template #autoGenerateContent let-config="config" let-close="close">
  <div class="auto-tip-container w-[360px]">
    <div class="auto-tip-title">
      <img alt=""
           class="auto-alert-icon"
           [src]="changeUrl('assets/agent-center/agent/alert.svg')"
      />
      <span class="auto-alert-title">{{ config.title }}</span>
    </div>
    <div class="auto-tip-content">
      {{ config.description }}
    </div>
    <div class="auto-tip-bottom-btns mt-2">
      <button
        nz-button
        nzSize="small"
        (click)="config.dismissTip(); tooltipClose()"
        style="z-index: 1000"
      >
        {{ 'cancel' | i18nextEager }}
      </button>
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        id="ok"
        (click)="config.confirmBtn(); tooltipClose()"
      >
        {{ 'ok' | i18nextEager }}
      </button>
    </div>
  </div>
</ng-template>

<audit-config-halfmodal
  [auditConfig]="auditConfig"
  (onSaveAuditConfig)="onSaveAuditConfig($event)"
></audit-config-halfmodal>
