<div class="auth-loading" *ngIf="authChecking"><span></span><p>正在加载 Console…</p></div>
<app-local-auth *ngIf="!authChecking && authRequired" (authenticated)="onLocalAuthenticated($event)"></app-local-auth>
<router-outlet *ngIf="!authRequired && pageInited && canUse && permissionUse"></router-outlet>
<div class="local-user-badge" *ngIf="localUser && !authRequired && pageInited">
  <span class="user-avatar">{{ (localUser.realName || localUser.username).slice(0, 1) }}</span>
  <span class="user-name">{{ localUser.realName || localUser.username }}</span>
  <button type="button" (click)="logoutLocalUser()">退出</button>
</div>
<div style="
  width: 500px;
  height: 200px;
  border: 1px solid #aaa;
  margin-left: calc(50% - 250px);
  margin-top: 10%;
  line-height: 200px;
  border-radius: 16px;
  font-size: 24px;
  text-align: center;"
     *ngIf="!canUse"
>
  {{ 'app_component_1' | i18nextEager }}
</div>

<div style="
  width: 500px;
  height: 200px;
  border: 1px solid #aaa;
  margin-left: calc(50% - 250px);
  margin-top: 10%;
  line-height: 200px;
  border-radius: 16px;
  font-size: 24px;
  text-align: center;"
     *ngIf="!permissionUse"
>
  {{ permissionMessage }}
</div>

<ng-template #templateSafeTipContent>
  <div nz-popover [nzPopoverContent]="safeTipContext.contentUrl" nzPopoverTrigger="hover" class="app-safe-warn-overflow">
    <p>{{safeTipContext.contentName}}</p>
    <p class="app-safe-warn-url-color">{{ safeTipContext.contentUrl }}</p>
  </div>
</ng-template>
