<div class="flex h-full w-full flex-col" (keydown)="handleKeyDown($event)">
  <div class="mb-[16px] block">
    <div class="flex items-center gap-[8px]">
      <edit-name
      [(name)]="nodeInfo.name"
      (onBlurConfirm)="updateName()"
    ></edit-name>
    </div>
    <node-description [nodeInfo]="nodeInfo" (descriptionChange)="updateView()"></node-description>
  </div>

  <div id="intent-container-modal-body" class="flex-1 overflow-hidden">
    <div class="h-full w-full overflow-hidden">
      <nz-steps [nzCurrent]="curStepIndex" class="step">
        <nz-step *ngFor="let step of steps" [nzTitle]="step.label"></nz-step>
      </nz-steps>
      <!-- 动作配置 -->
      <div
        class="flex h-[calc(100%-84px)] flex-col gap-[16px]"
        *ngIf="curStepIndex === 0"
      >
        <div class="flex gap-[12px]">
          <button
            type="button"
            nz-button
            [disabled]="!hasSelectedBranch()"
            nz-popover
            nzPopoverPlacement="bottomLeft"
            [nzPopoverContent]="batchBindRef"
            [nzPopoverOverlayStyle]="{ maxWidth: '500px', zIndex: 999 }"
            [nzPopoverVisible]="showBatchBindRef"
            (click)="batchBindFlows()"
          >
            {{ 'batch_configuration' | i18nextEager }}
          </button>
          <button
            type="button"
            nz-button
            [disabled]="!hasSelectedBranch()"
            (click)="batchUnbindFlows()"
          >
            {{ 'batch_unbinding' | i18nextEager }}
          </button>
        </div>

        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconSearch">
          <input
            nz-input
            [placeholder]="'enter_intent_name' | i18nextEager"
            [(ngModel)]="searchBranchName"
            (ngModelChange)="searchBranches($event)"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
        <div class="flex h-[calc(100%-40px)] flex-col gap-[12px]">
          <div class="flex items-center pl-[24px] text-[#595959]">
            <div class="w-[130px] flex-shrink-0">{{ 'intent_name' | i18nextEager }}</div>
            <div>{{ 'jump_to' | i18nextEager }}</div>
          </div>

          <nz-spin *ngIf="isLoading; else branchListTmpl" class="loading-icon" nzSimple nzSize="small"></nz-spin>

          <ng-template #branchListTmpl>
            <div
              class="flex h-[calc(100%-76px)] flex-col gap-[12px] overflow-y-auto overflow-x-hidden"
              (scroll)="onScroll()"
            >
              <div
                *ngFor="let param of branchListDynamic; index as i"
                class="flex w-full items-center gap-2"
              >
                <label
                  nz-checkbox
                  [name]="'outputFormParamCheck' + i"
                  [(ngModel)]="param.selected"
                ></label>
                <div class="w-[122px] flex-shrink-0" lineClamp>
                  {{ param.name }}
                </div>

                <form #boundFlowListForm="ngForm" class="w-full">
                  <nz-select
                    style="width: 100%"
                    [name]="'requestValidateType' + param.branch_id"
                    [nzOptions]="flowSelectOptions"
                    [(ngModel)]="param.workflow_id"
                    [nzPlaceHolder]="'please_select_workflow' | i18nextEager"
                    [nzNotFoundContent]="'no_workflow' | i18nextEager"
                    nzShowSearch
                    nzAllowClear
                    nzServerSearch
                    [nzLoading]="isFlowListLoading"
                    [compareWith]="compareFlow"
                    (nzOpenChange)="onBeforeOpenFlowList($event)"
                    (nzOnSearch)="onBeforeSearchFlow($event)"
                    (nzScrollToBottom)="loadMoreFlows()"
                  >
                  </nz-select>
                </form>
              </div>
            </div>
          </ng-template>
        </div>
      </div>

      <div *ngIf="curStepIndex === 1" class="h-[calc(100%-84px)]">
        <meta-acc-block
          id="input-params-form"
          class="mt-2 block h-full"
          [title]="'input_params' | i18nextEager"
          [isNewStyle]="true"
        >
          <ng-template #content>
            <div class="mt-2 flex items-center gap-2">
              <div class="w-[82px] text-sm text-label">{{ 'param_name' | i18nextEager }}</div>
              <div class="flex items-center gap-2 text-sm text-label">
                <div class="flex h-fit w-[calc(100%-16px)] items-center">
                  <div class="w-[90px]">{{ 'type' | i18nextEager }}</div>
                  <div>{{ 'value' | i18nextEager }}</div>
                </div>
                <div class="h-full w-[16px]"></div>
              </div>
            </div>

            <nz-spin *ngIf="isFlowsLoading; else inputListTmpl" class="loading-icon" nzSimple nzSize="small"></nz-spin>

            <div
              *ngIf="!isFlowsLoading && !inputParams.length"
              class="no-data-container"
            >
              <no-data-icon></no-data-icon>
              <span>{{ 'no_parameter_information' | i18nextEager }}</span>
            </div>

            <ng-template #inputListTmpl>
              <form
                #inputForm="ngForm"
                class="h-[calc(100%-46px)] overflow-y-auto"
              >
                <div
                  *ngFor="let param of inputParams; index as i"
                  class="mt-2 flex gap-2"
                >
                  <div class="w-1/5">
                    <input
                      style="width: 100%"
                      type="text"
                      [name]="'inputFormName' + i"
                      [maxlength]="paramNameMaxLen"
                      nz-input
                      [(ngModel)]="param.name"
                      [title]="param.name"
                      [disabled]="true"
                      [placeholder]="'input_placeholder' | i18nextEager"
                    />
                  </div>
                  <div class="w-1/5">
                    <input
                      style="width: 100%"
                      type="text"
                      [name]="'inputFormFType' + i"
                      [maxlength]="paramNameMaxLen"
                      nz-input
                      [(ngModel)]="param.type"
                      [title]="param.type"
                      [disabled]="true"
                      [placeholder]="'input_placeholder' | i18nextEager"
                    />
                  </div>
                  <div class="flex w-3/5 gap-[8px]">
                    <div class="flex h-fit w-full items-center gap-2">
                      <div class="flex w-full">
                        <div class="w-[34%]">
                          <nz-select
                            class="combo-select-left"
                            style="width: 100%"
                            [nzOptions]="sourceOptions"
                            [name]="'inputFormType' + i"
                            [(ngModel)]="param.value.type"
                            nzLabelKey="value"
                            nzValueKey="value"
                            (ngModelChange)="onTypeChange(param)"
                          ></nz-select>
                        </div>

                        <div class="w-[66%]">
                          <input
                            class="combo-select-right"
                            *ngIf="param.value.type === 'literal'"
                            style="width: 100%"
                            type="text"
                            [name]="'inputFormValue' + i"
                            nonEmptyValidator
                            nz-input
                            [placeholder]="'input_placeholder' | i18nextEager"
                            [(ngModel)]="param.value.content"
                            [title]="param.value.content"
                            [class.input-error]="inputForm?.controls['inputFormValue' + i]?.invalid && (inputForm?.controls['inputFormValue' + i]?.dirty || inputForm?.controls['inputFormValue' + i]?.touched)"
                          />
                          <div *ngIf="inputForm?.controls['inputFormValue' + i]?.invalid && (inputForm?.controls['inputFormValue' + i]?.dirty || inputForm?.controls['inputFormValue' + i]?.touched)" class="error-tip">
                            {{inputForm?.controls['inputFormValue' + i]?.errors?.serviceName?.tiErrorMessage}}
                          </div>

                          <input-tree-select
                          *ngIf="param.value.type === 'ref'"
                          style="width: 100%"
                          [(ngModel)]="param.value.content"
                          [options]="param.refs"
                          [name]="'inputFormValue' + i"
                          refSelectedRequire
                          [placeholder]="'select_placeholder' | i18nextEager"
                        ></input-tree-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </ng-template>
          </ng-template>
        </meta-acc-block>
      </div>
    </div>
  </div>

  <div class="pt-[16px]">
    <div class="flex justify-end gap-2">
      <button
        *ngIf="this.curStepIndex === 0"
        type="button"
        nz-button
        nzType="default"
        (click)="dismiss()"
      >
        {{ 'cancel' | i18nextEager }}
      </button>
      <button
        *ngIf="this.curStepIndex === 0"
        type="button"
        nz-button
        nzType="primary"
        (click)="nextStep()"
      >
        {{ 'next_step' | i18nextEager }}
      </button>
      <button
        *ngIf="this.curStepIndex === 1"
        type="button"
        nz-button
        nzType="default"
        (click)="lastStep()"
      >
        {{ 'pre_step' | i18nextEager }}
      </button>
      <button
        *ngIf="this.curStepIndex === 1"
        type="button"
        nz-button
        nzType="primary"
        (click)="onConfirm()"
        [nzLoading]="isConfirmLoading"
      >
        {{ 'ok' | i18nextEager }}
      </button>
    </div>
  </div>
</div>

<ng-template #batchBindRef>
  <model-settings
    [workflowType]="workflowType"
    (flowInfoSelected)="batchBindTipCtx.outputs.flowInfoSelected($event)"
  ></model-settings>
</ng-template>
