<div class="flex w-full flex-col mb-4">
  <meta-acc-block
    class="block w-full"
    [ngClass]="{'condition-modal':!showFold}"
    [title]="title"
  >
    <ng-template #blockTitle>
      <div [ngClass]="{'font-bold':showFold}">
        {{ title }}
      </div>
    </ng-template>
    <ng-template #content>
      <div class="flex w-full gap-[8px] rounded-lg bg-[#fafafa] mt-4"
           [ngClass]="{'p-4':entryCondition.conditions.length > 0}">
        <div
          *ngIf="entryCondition.conditions.length > 1"
          class="mb-[22px] mt-[34px] flex w-[42px] flex-col"
        >
          <div class="relative flex-1">
            <div
              class="absolute bottom-0 left-1/2 right-0 top-2.5 rounded-tl-lg border-0 border-l border-t border-solid border-[#e1e1e1]"
            ></div>
          </div>
          <div
            (click)="onIfExpChange()"
            class="relative flex cursor-pointer items-center justify-between rounded-[6px] bg-[#e6f2ff] px-[4px] py-[2px]"
          >
            <div class="select-none text-[#1476ff]">
              {{ entryCondition.logic | i18nextEager }}
            </div>
            <span nz-icon nzType="swap" nzTheme="outline" style="color: #1476ff"></span>
          </div>
          <div class="relative flex-1">
            <div
              class="absolute bottom-2.5 left-1/2 right-0 top-0 rounded-bl-lg border-0 border-b border-l border-solid border-[#e1e1e1]"
            ></div>
          </div>
        </div>

        <div class="flex-1">
          <form #inputForm="ngForm">
            <div class="flex w-full flex-col gap-2">
              <div
                class="w-full"
                *ngFor="
                      let con of entryCondition.conditions;
                      index as i;
                      last as isLast
                    "
                [ngClass]="isLast ? 'last-err-place' : ''"
              >
                <div class="flex h-fit w-full gap-2">
                  <div class="mt-4 flex h-fit w-[64px]">
                    <nz-select
                      *ngIf="isStrType(con.left.value.content?.[0]?.type)"
                      [name]="'inputFormCon' + i"
                      [nzPlaceHolder]="'select_placeholder' | i18nextEager"
                      [nzOptions]="strConditionOptions"
                      [(ngModel)]="con.operator"
                      (ngModelChange)="opChange($event, con);onSave()"
                      [nzDropdownMatchSelectWidth]="false"
                      nzShowSearch
                      class="w-full"
                    >
                    </nz-select>

                    <nz-select
                      *ngIf="!con.left.value.content?.[0]"
                      [name]="'inputFormCon' + i"
                      [nzOptions]="emptyOps"
                      [(ngModel)]="emptyModel"
                      (ngModelChange)="opChange($event, con);onSave()"
                      [nzDropdownMatchSelectWidth]="false"
                      nzShowSearch
                      class="w-full"
                    >
                    </nz-select>

                    <nz-select
                      *ngIf="con.left.value.content?.[0]?.type.startsWith('array')"
                      [name]="'inputFormCon' + i"
                      [nzPlaceHolder]="'select_placeholder' | i18nextEager"
                      [nzOptions]="arrConditionOptions"
                      [(ngModel)]="con.operator"
                      (ngModelChange)="opChange($event, con);onSave()"
                      [nzDropdownMatchSelectWidth]="false"
                      nzShowSearch
                      class="w-full"
                    >
                    </nz-select>

                    <nz-select
                      *ngIf="['integer', 'number'].includes(con.left.value.content?.[0]?.type)"
                      [name]="'inputFormCon' + i"
                      [nzPlaceHolder]="'select_placeholder' | i18nextEager"
                      [nzOptions]="numConditionOptions"
                      [(ngModel)]="con.operator"
                      (ngModelChange)="opChange($event, con);onSave()"
                      [nzDropdownMatchSelectWidth]="false"
                      nzShowSearch
                      class="w-full"
                    >
                    </nz-select>

                    <nz-select
                      *ngIf="con.left.value.content?.[0]?.type === 'boolean'"
                      [name]="'inputFormCon' + i"
                      [nzPlaceHolder]="'select_placeholder' | i18nextEager"
                      [nzOptions]="boolConditionOptions"
                      [(ngModel)]="con.operator"
                      (ngModelChange)="opChange($event, con);onSave()"
                      [nzDropdownMatchSelectWidth]="false"
                      nzShowSearch
                      class="w-full"
                    >
                    </nz-select>

                    <nz-select
                      *ngIf="con.left.value.content?.[0]?.type === 'object'"
                      [name]="'inputFormCon' + i"
                      [nzPlaceHolder]="'select_placeholder' | i18nextEager"
                      [nzOptions]="objConditionOptions"
                      [(ngModel)]="con.operator"
                      (ngModelChange)="opChange($event, con);onSave()"
                      [nzDropdownMatchSelectWidth]="false"
                      nzShowSearch
                      class="w-full"
                    >
                    </nz-select>
                  </div>

                  <div class="flex w-[calc(100%-82px)] flex-col gap-2">
                    <div class="w-full">
                      <input-tree-select
                        [radiusLeft]="true"
                        (ngModelChange)="leftTypeChange($event, con);"
                        style="width: 100%"
                        [(ngModel)]="con.left.value.content"
                        [options]="con.left.refs"
                        [name]="'inputFormValue' + i"
                        refSelectedRequire
                        [placeholder]="'select_placeholder' | i18nextEager"
                        (select)="treeSelect()"
                      ></input-tree-select>
                    </div>

                    <div class="flex w-full">
                      <div class="w-1/4">
                        <nz-select
                          class="combo-select-left h-[28px]"
                          [name]="'inputFormObj' + i"
                          style="width: 100%"
                          [nzPlaceHolder]="'select_placeholder' | i18nextEager"
                          [nzOptions]="paramSourceOptions"
                          [(ngModel)]="con.right.value.type"
                          [nzDisabled]="!con.left.value.content?.[0] || ['is_empty', 'is_not_empty', 'eq_true', 'eq_false'].includes(con.operator)"
                          (ngModelChange)="onTypeChange(con);onSave()"
                        ></nz-select>
                      </div>

                      <div class="relative w-3/4">
                        <input
                          *ngIf="
                                  [
                                    'eq_true',
                                    'eq_false'
                                  ].includes(con.operator);
                                "
                          class="combo-select-right"
                          [name]="'inputFormLit' + i"
                          style="width: 100%"
                          [placeholder]="'input_placeholder' | i18nextEager"
                          type="text"
                          nz-input
                          (ngModelChange)="changeInputUpdateTime()"
                          (blur)="inputOnSave()"
                          [(ngModel)]="con.right.value.content"
                          [disabled]="true"
                        />

                        <input
                          *ngIf="
                                  ([
                                    'is_empty',
                                    'is_not_empty',
                                  ].includes(con.operator) || !con.left.value.content?.[0]) && ![
                                    'eq_true',
                                    'eq_false'
                                  ].includes(con.operator);
                                  else double
                                "
                          class="combo-select-right"
                          [name]="'inputFormLit' + i"
                          style="width: 100%"
                          [placeholder]="'input_placeholder' | i18nextEager"
                          type="text"
                          nz-input
                          [(ngModel)]="emptyModel"
                          (ngModelChange)="changeInputUpdateTime()"
                          (blur)="inputOnSave()"
                          [disabled]="true"
                        />

                        <ng-template #double>
                          <ng-container
                            *ngIf="isStrType(con.left.value.content?.[0]?.type); else arr"
                          >
                            <ng-container
                              *ngIf="
                                    [
                                      'longer_than',
                                      'longer_than_or_eq',
                                      'shorter_than',
                                      'shorter_than_or_eq'
                                    ].includes(con.operator)
                                  "
                            >
                              <input
                                *ngIf="con.right.value.type === 'literal'"
                                class="combo-select-right"
                                [name]="'inputFormLit' + i"
                                style="width: 100%"
                                [placeholder]="'input_placeholder' | i18nextEager"
                                type="text"
                                nz-input
                                [(ngModel)]="con.right.value.content"
                                [title]="con.right.value.content"
                                [disabled]="!con.left.value.content?.[0]"
                                nonEmptyValidator
                                positiveIntStr
                                (ngModelChange)="changeInputUpdateTime()"
                                (blur)="inputOnSave()"
                                [class.input-error]="inputForm?.controls['inputFormLit' + i]?.invalid && (inputForm?.controls['inputFormLit' + i]?.dirty || inputForm?.controls['inputFormLit' + i]?.touched)"
                              />
                              <div *ngIf="inputForm?.controls['inputFormLit' + i]?.invalid && (inputForm?.controls['inputFormLit' + i]?.dirty || inputForm?.controls['inputFormLit' + i]?.touched)" class="error-tip">
                                {{inputForm?.controls['inputFormLit' + i]?.errors?.serviceName?.tiErrorMessage}}
                              </div>

                              <input-tree-select
                                style="width: 100%"
                                *ngIf="con.right.value.type === 'ref'"
                                [(ngModel)]="con.right.value.content"
                                [options]="con.right.refs"
                                [name]="'inputFormRef' + i"
                                refSelectedRequire
                                [placeholder]="'select_placeholder' | i18nextEager"
                                (select)="treeSelect()"
                              ></input-tree-select>
                            </ng-container>

                            <ng-container
                              *ngIf="
                                    [
                                      'eq',
                                      'not_eq',
                                      'contain',
                                      'not_contain'
                                    ].includes(con.operator)
                                  "
                            >
                              <input
                                *ngIf="con.right.value.type === 'literal'"
                                class="combo-select-right"
                                [name]="'inputFormLit' + i"
                                style="width: 100%"
                                [placeholder]="'input_placeholder' | i18nextEager"
                                type="text"
                                nz-input
                                [(ngModel)]="con.right.value.content"
                                [title]="con.right.value.content"
                                [disabled]="!con.left.value.content?.[0]"
                                nonEmptyValidator
                                (ngModelChange)="changeInputUpdateTime()"
                                (blur)="inputOnSave()"
                                [class.input-error]="inputForm?.controls['inputFormLit' + i]?.invalid && (inputForm?.controls['inputFormLit' + i]?.dirty || inputForm?.controls['inputFormLit' + i]?.touched)"
                              />
                              <div *ngIf="inputForm?.controls['inputFormLit' + i]?.invalid && (inputForm?.controls['inputFormLit' + i]?.dirty || inputForm?.controls['inputFormLit' + i]?.touched)" class="error-tip">
                                {{inputForm?.controls['inputFormLit' + i]?.errors?.serviceName?.tiErrorMessage}}
                              </div>

                              <input-tree-select
                                style="width: 100%"
                                *ngIf="con.right.value.type === 'ref'"
                                [(ngModel)]="con.right.value.content"
                                [options]="con.right.refs"
                                [name]="'inputFormRef' + i"
                                refSelectedRequire
                                [placeholder]="'select_placeholder' | i18nextEager"
                                (select)="treeSelect()"
                              ></input-tree-select>
                            </ng-container>
                          </ng-container>

                          <ng-template #arr>
                            <ng-container
                              *ngIf="con.left.value.content?.[0]?.type.startsWith('array'); else num"
                            >
                              <ng-container
                                *ngIf="
                                      [
                                        'longer_than',
                                        'longer_than_or_eq',
                                        'shorter_than',
                                        'shorter_than_or_eq'
                                      ].includes(con.operator)
                                    "
                              >
                                <input
                                  *ngIf="con.right.value.type === 'literal'"
                                  class="combo-select-right"
                                  [name]="'inputFormLit' + i"
                                  style="width: 100%"
                                  [placeholder]="'input_placeholder' | i18nextEager"
                                  type="text"
                                  nz-input
                                  [(ngModel)]="con.right.value.content"
                                  [title]="con.right.value.content"
                                  [disabled]="!con.left.value.content?.[0]"
                                  nonEmptyValidator
                                  positiveIntStr
                                  (ngModelChange)="changeInputUpdateTime()"
                                  (blur)="inputOnSave()"
                                  [class.input-error]="inputForm?.controls['inputFormLit' + i]?.invalid && (inputForm?.controls['inputFormLit' + i]?.dirty || inputForm?.controls['inputFormLit' + i]?.touched)"
                                />
                                <div *ngIf="inputForm?.controls['inputFormLit' + i]?.invalid && (inputForm?.controls['inputFormLit' + i]?.dirty || inputForm?.controls['inputFormLit' + i]?.touched)" class="error-tip">
                                  {{inputForm?.controls['inputFormLit' + i]?.errors?.serviceName?.tiErrorMessage}}
                                </div>

                                <input-tree-select
                                  style="width: 100%"
                                  *ngIf="con.right.value.type === 'ref'"
                                  [(ngModel)]="con.right.value.content"
                                  [options]="con.right.refs"
                                  [name]="'inputFormRef' + i"
                                  refSelectedRequire
                                  [placeholder]="'select_placeholder' | i18nextEager"
                                  (select)="treeSelect()"
                                ></input-tree-select>
                              </ng-container>

                              <ng-container
                                *ngIf="
                                      ['contain', 'not_contain'].includes(
                                        con.operator
                                      )
                                    "
                              >
                                <ng-container
                                  *ngIf="con.right.value.type === 'literal'"
                                >
                                  <input
                                    *ngIf="canFillStr(con.right.type)"
                                    class="combo-select-right"
                                    [name]="'inputFormLit' + i"
                                    style="width: 100%"
                                    [placeholder]="'input_placeholder' | i18nextEager"
                                    type="text"
                                    nz-input
                                    [(ngModel)]="con.right.value.content"
                                    [title]="con.right.value.content"
                                    (ngModelChange)="changeInputUpdateTime()"
                                    (blur)="inputOnSave()"
                                    [disabled]="!con.left.value.content?.[0]"
                                    nonEmptyValidator
                                    [class.input-error]="inputForm?.controls['inputFormLit' + i]?.invalid && (inputForm?.controls['inputFormLit' + i]?.dirty || inputForm?.controls['inputFormLit' + i]?.touched)"
                                  />
                                  <div *ngIf="inputForm?.controls['inputFormLit' + i]?.invalid && (inputForm?.controls['inputFormLit' + i]?.dirty || inputForm?.controls['inputFormLit' + i]?.touched)" class="error-tip">
                                    {{inputForm?.controls['inputFormLit' + i]?.errors?.serviceName?.tiErrorMessage}}
                                  </div>

                                  <input
                                    *ngIf="con.right.type === 'number'"
                                    class="combo-select-right"
                                    [name]="'inputFormLit' + i"
                                    style="width: 100%"
                                    [placeholder]="'input_placeholder' | i18nextEager"
                                    type="text"
                                    nz-input
                                    [(ngModel)]="con.right.value.content"
                                    (ngModelChange)="changeInputUpdateTime()"
                                    (blur)="inputOnSave()"
                                    [title]="con.right.value.content"
                                    [disabled]="!con.left.value.content?.[0]"
                                    nonEmptyValidator
                                    numberStr
                                    [class.input-error]="inputForm?.controls['inputFormLit' + i]?.invalid && (inputForm?.controls['inputFormLit' + i]?.dirty || inputForm?.controls['inputFormLit' + i]?.touched)"
                                  />
                                  <div *ngIf="inputForm?.controls['inputFormLit' + i]?.invalid && (inputForm?.controls['inputFormLit' + i]?.dirty || inputForm?.controls['inputFormLit' + i]?.touched)" class="error-tip">
                                    {{inputForm?.controls['inputFormLit' + i]?.errors?.serviceName?.tiErrorMessage}}
                                  </div>

                                  <input
                                    *ngIf="con.right.type === 'integer'"
                                    class="combo-select-right"
                                    [name]="'inputFormLit' + i"
                                    style="width: 100%"
                                    [placeholder]="'input_placeholder' | i18nextEager"
                                    type="text"
                                    nz-input
                                    [(ngModel)]="con.right.value.content"
                                    [title]="con.right.value.content"
                                    [disabled]="!con.left.value.content?.[0]"
                                    nonEmptyValidator
                                    integerStr
                                    (ngModelChange)="changeInputUpdateTime()"
                                    (blur)="inputOnSave()"
                                    [class.input-error]="inputForm?.controls['inputFormLit' + i]?.invalid && (inputForm?.controls['inputFormLit' + i]?.dirty || inputForm?.controls['inputFormLit' + i]?.touched)"
                                  />
                                  <div *ngIf="inputForm?.controls['inputFormLit' + i]?.invalid && (inputForm?.controls['inputFormLit' + i]?.dirty || inputForm?.controls['inputFormLit' + i]?.touched)" class="error-tip">
                                    {{inputForm?.controls['inputFormLit' + i]?.errors?.serviceName?.tiErrorMessage}}
                                  </div>

                                  <nz-select
                                    *ngIf="con.right.type === 'boolean'"
                                    class="combo-select-right"
                                    style="width: 100%"
                                    [name]="'inputFormLit' + i"
                                    [nzOptions]="booleanOps"
                                    [(ngModel)]="con.right.value.content"
                                    [nzDisabled]="!con.left.value.content?.[0]"
                                    [nzPlaceHolder]="'select_placeholder' | i18nextEager"
                                    (ngModelChange)="onSave()"
                                  >
                                  </nz-select>
                                </ng-container>

                                <input-tree-select
                                  style="width: 100%"
                                  *ngIf="con.right.value.type === 'ref'"
                                  [(ngModel)]="con.right.value.content"
                                  [options]="con.right.refs"
                                  [name]="'inputFormRef' + i"
                                  refSelectedRequire
                                  [placeholder]="'select_placeholder' | i18nextEager"
                                  (select)="treeSelect()"
                                ></input-tree-select>
                              </ng-container>
                            </ng-container>
                          </ng-template>

                          <ng-template #num>
                            <ng-container
                              *ngIf="['integer', 'number'].includes(con.left.value.content?.[0]?.type)"
                            >
                              <input
                                class="combo-select-right"
                                *ngIf="con.right.value.type === 'literal'"
                                style="width: 100%"
                                type="text"
                                nz-input
                                [name]="'inputFormLit' + i"
                                [title]="con.right.value.content"
                                [(ngModel)]="con.right.value.content"
                                nonEmptyValidator
                                [placeholder]="'input_placeholder' | i18nextEager"
                                (ngModelChange)="changeInputUpdateTime()"
                                (blur)="inputOnSave()"
                                [class.input-error]="inputForm?.controls['inputFormLit' + i]?.invalid && (inputForm?.controls['inputFormLit' + i]?.dirty || inputForm?.controls['inputFormLit' + i]?.touched)"
                              />
                              <div *ngIf="inputForm?.controls['inputFormLit' + i]?.invalid && (inputForm?.controls['inputFormLit' + i]?.dirty || inputForm?.controls['inputFormLit' + i]?.touched)" class="error-tip">
                                {{inputForm?.controls['inputFormLit' + i]?.errors?.serviceName?.tiErrorMessage}}
                              </div>

                              <input-tree-select
                                style="width: 100%"
                                *ngIf="con.right.value.type === 'ref'"
                                [(ngModel)]="con.right.value.content"
                                [options]="con.right.refs"
                                [name]="'inputFormRef' + i"
                                refSelectedRequire
                                [placeholder]="'select_placeholder' | i18nextEager"
                                (select)="treeSelect()"
                              ></input-tree-select>
                            </ng-container>
                          </ng-template>
                        </ng-template>
                      </div>
                    </div>
                  </div>

                  <span
                    (click)="deleteIfExp(i)"
                    [style.color]="'#191919'"
                    [style.cursor]="'pointer'"
                    class="mt-5 cursor-pointer !text-[16px] text-[#191919]"
                    nz-icon
                    nzType="delete"
                    nzTheme="outline"
                  ></span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </ng-template>

    <ng-template #right>
      <div class="flex items-center justify-center">
        <button
          (click)="addIfCondition()"
          class="h-4 w-fit"
          nz-button
          nzType="text"
          nz-tooltip [nzTooltipTitle]="'add_conditions' | i18nextEager"
        >
          <span nz-icon nzType="plus" nzTheme="outline"></span>
        </button>
      </div>
    </ng-template>
  </meta-acc-block>
</div>
