<ng-template nzModalTitle>
  <div class="text-[16px]">{{ 'import_and_parse' | i18nextEager }}</div>
</ng-template>
<div nz-modal-content>
  <nz-alert nzType="info" nzMessage="{{ 'overwritten_tip' | i18nextEager }}" *ngIf="isEdit" class="!w-full mb-4"></nz-alert>
  <div class="flex gap-6">
    <div class="w-[516px] rounded-[6px] border-[1px] border-solid border-[#ccc] p-[2px] relative">
      <form class="w-full" #paramForm="ngForm">
        <div class="h-[400px] w-full rounded-b-[6px] bg-white py-[10px] pr-[10px]">
          <ngx-monaco-editor
            #exeEditor
            [(ngModel)]="jsonData"
            (ngModelChange)="onInputJSONChange()"
            arrTypeValidator
            nonEmptyValidator
            [options]="editorOps"
            name="jsonData"
          ></ngx-monaco-editor>
          <div *ngIf="!jsonData" class="monaco-placeholder">{{ placeholder }}</div>
        </div>
      </form>
    </div>
    <div class="example">
      <img [src]="exampleUrl" alt="" />
    </div>
  </div>
  <div class="w-full" #valueWrapper></div>
</div>
<div *nzModalFooter>
  <div class="mt-[12px] flex justify-end">
    <button type="button" nz-button (click)="dismiss()">
      {{ 'cancel' | i18nextEager }}
    </button>
    <button class="ml-[5px]" type="button" nz-button nzType="primary" [disabled]="!jsonData" (click)="onConfirm()">
      {{ 'ok' | i18nextEager }}
    </button>
  </div>
</div>
