::ng-deep {
  .tp-halfmodal-cotent meta-param-extraction-modal {
    display: block;
    height: 100%;
  }

  ::ng-deep .modal-custom900-class {
    width: 900px !important;
  }

  .intelligent-add-border {
    border-radius: 6px;
    padding: 4px;
    width: 24px;
    height: 24px;
    &:hover {
      border-color: #856afd;
      background-color: var(--ti-color-bg-hover);
    }
  }

  .disabled {
    cursor: not-allowed;
    border-color: #dbdbdb;
  }

  .enabled {
    cursor: pointer;
  }
}


.icon-border {
  border-radius: 6px;
  padding: 4px;
  cursor: pointer;
  border: none;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border-color: #191919;
    background-color: var(--ti-color-bg-hover);
  }
}

.save-tmp-link {
  cursor: pointer;
}

.save-tmp-link-disabled {
  color: #dbdbdb;
  cursor: pointer;
}

.security-main {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.security-row1 {
  font-size: 12px;
  color: #191919;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.security-title-left {
  font-size: 12px;
  color: #191919;

}

.security-title-right {
  font-size: 12px;
  color: #191919;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.security-row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.security-row3 {
  color: #808080;
}

.skills-title-center {
  color: #191919;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.param-ex-prompt-error{
  ::ng-deep .editor-wrapper {
    background: #FCE3E1 !important;
    border-color: #F23030 !important;
  }
}

.error-tip {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 4px;
}

.input-error {
  border-color: #ff4d4f !important;
}
