<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <contextName>studio-agent-manager</contextName>

    <Properties>
        <Property name="LOG_PATH">/opt/cloud/studio-manager/logs</Property>
        <Property name="TRACE_LOG_PATH">/opt/cloud/studio-manager/logs/audit</Property>
        <Property name="FILE_NAME" value="studio-agent-manager" />
        <Property name="PERFORM_FILE" value="perform" />
        <Property name="TRACE_FILE" value="trace" />

        <!-- 主日志配置 -->
        <Property name="LOG_FILE_ROLLING_SIZE" value="${env:LOG_FILE_ROLLING_SIZE:-100MB}" />
        <Property name="LOG_FILE_MAX_COUNT" value="${env:LOG_FILE_MAX_COUNT:-100}" />
        <Property name="LOG_FILE_MAX_AGE" value="${env:LOG_FILE_MAX_AGE:-7d}" />
        <Property name="LOG_FILE_MAX_TOTAL_SIZE" value="${env:LOG_FILE_MAX_TOTAL_SIZE:-1GB}" />
        <Property name="LOG_FILE_MAX_TOTAL_COUNT" value="${env:LOG_FILE_MAX_TOTAL_COUNT:-100}" />

        <!-- 性能日志配置 -->
        <Property name="PERFORM_FILE_ROLLING_SIZE" value="${env:PERFORM_FILE_ROLLING_SIZE:-100MB}" />
        <Property name="PERFORM_FILE_MAX_COUNT" value="${env:PERFORM_FILE_MAX_COUNT:-100}" />
        <Property name="PERFORM_FILE_MAX_AGE" value="${env:PERFORM_FILE_MAX_AGE:-30d}" />
        <Property name="PERFORM_FILE_MAX_TOTAL_SIZE" value="${env:PERFORM_FILE_MAX_TOTAL_SIZE:-500MB}" />
        <Property name="PERFORM_FILE_MAX_TOTAL_COUNT" value="${env:PERFORM_FILE_MAX_TOTAL_COUNT:-100}" />

        <!-- 接口日志配置 -->
        <Property name="INF_FILE_ROLLING_SIZE" value="${env:INF_FILE_ROLLING_SIZE:-100MB}" />
        <Property name="INF_FILE_MAX_COUNT" value="${env:INF_FILE_MAX_COUNT:-100}" />
        <Property name="INF_FILE_MAX_AGE" value="${env:INF_FILE_MAX_AGE:-30d}" />
        <Property name="INF_FILE_MAX_TOTAL_SIZE" value="${env:INF_FILE_MAX_TOTAL_SIZE:-1GB}" />
        <Property name="INF_FILE_MAX_TOTAL_COUNT" value="${env:INF_FILE_MAX_TOTAL_COUNT:-100}" />

        <!-- 审计日志配置 -->
        <Property name="TRACE_FILE_ROLLING_SIZE" value="${env:TRACE_FILE_ROLLING_SIZE:-50MB}" />
        <Property name="TRACE_FILE_MAX_COUNT" value="${env:TRACE_FILE_MAX_COUNT:-200}" />
        <Property name="TRACE_FILE_MAX_AGE" value="${env:TRACE_FILE_MAX_AGE:-180d}" />

        <Property name="LOG_PATTERN"
                  value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%X{request-id}] [%X{task-id}] [%thread] [%logger{15}:%L] - [%msg]%n" />
        <Property name="INF_LOG_PATTERN" value="[%X{request-id}] [%X{task-id}] [%thread] - [%msg]%n" />
        <Property name="PERF_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%X{request-id}] [%X{task-id}] - %msg%n" />
        <Property name="TRACE_LOG_PATTERN" value="%msg%n" />
    </Properties>

    <Appenders>
        <!-- Console output -->
        <Console  name="STDOUT"  target="SYSTEM_OUT">
            <PatternLayout  pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- Specify the name of the log file -->
        <RollingFile name="ROLLING_FILE">
            <FileName>${LOG_PATH}/${FILE_NAME}.log</FileName>
            <FilePattern>${LOG_PATH}/${FILE_NAME}-%d{yyyy-MM-dd}.%i.zip</FilePattern>
            <PatternLayout  pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${LOG_FILE_ROLLING_SIZE}" />
            </Policies>
            <!--每个日期格式下保留的最大文件数-->
            <DefaultRolloverStrategy max="${LOG_FILE_MAX_COUNT}">
                <Delete basePath="${LOG_PATH}" maxDepth="2">
                    <IfFileName glob="*${FILE_NAME}-20*.zip" />
                    <IfAny>
                        <IfLastModified age="${LOG_FILE_MAX_AGE}" />
                        <IfAccumulatedFileSize exceeds="${LOG_FILE_MAX_TOTAL_SIZE}" />
                        <IfAccumulatedFileCount exceeds="${LOG_FILE_MAX_TOTAL_COUNT}" />
                    </IfAny>
                </Delete>
            </DefaultRolloverStrategy>

        </RollingFile>

        <RollingFile name="ROLLING_FILE_PERFORM">
            <FileName>${LOG_PATH}/${PERFORM_FILE}.log</FileName>
            <FilePattern>${LOG_PATH}/${PERFORM_FILE}-%d{yyyy-MM-dd}.%i.zip</FilePattern>
            <PatternLayout pattern="${PERF_LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${PERFORM_FILE_ROLLING_SIZE}" />
            </Policies>
            <DefaultRolloverStrategy max="${PERFORM_FILE_MAX_COUNT}">
                <Delete basePath="${LOG_PATH}" maxDepth="2">
                    <IfFileName glob="*${PERFORM_FILE}-*.zip" />
                    <IfAny>
                        <IfLastModified age="${PERFORM_FILE_MAX_AGE}" />
                        <IfAccumulatedFileSize exceeds="${PERFORM_FILE_MAX_TOTAL_SIZE}" />
                        <IfAccumulatedFileCount exceeds="${PERFORM_FILE_MAX_TOTAL_COUNT}" />
                    </IfAny>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- 接口日志的appender -->
        <RollingFile name="ROLLING_FILE_INF">
            <FileName>${LOG_PATH}/${FILE_NAME}-interface.log</FileName>
            <FilePattern>${LOG_PATH}/${FILE_NAME}-interface-%d{yyyy-MM-dd}.%i.zip</FilePattern>
            <PatternLayout pattern="${INF_LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${INF_FILE_ROLLING_SIZE}" />
            </Policies>
            <DefaultRolloverStrategy max="${INF_FILE_MAX_COUNT}">
                <Delete basePath="${LOG_PATH}" maxDepth="2">
                    <IfFileName glob="*${FILE_NAME}-interface-*.zip" />
                    <IfAny>
                        <IfLastModified age="${INF_FILE_MAX_AGE}" />
                        <IfAccumulatedFileSize exceeds="${INF_FILE_MAX_TOTAL_SIZE}" />
                        <IfAccumulatedFileCount exceeds="${INF_FILE_MAX_TOTAL_COUNT}" />
                    </IfAny>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- 审计日志配置规则 -->
        <RollingFile name="ROLLING_FILE_TRACE">
            <FileName>${TRACE_LOG_PATH}/${TRACE_FILE}.log</FileName>
            <FilePattern>${TRACE_LOG_PATH}/${TRACE_FILE}-%d{yyyy-MM-dd}.%i.zip</FilePattern>
            <PatternLayout pattern="${TRACE_LOG_PATTERN}"/>
            <ImmediateFlush>true</ImmediateFlush>
            <Policies>
                <SizeBasedTriggeringPolicy size="${TRACE_FILE_ROLLING_SIZE}"/>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="${TRACE_FILE_MAX_COUNT}">
                <Delete basePath="${TRACE_LOG_PATH}" maxDepth="2">
                    <IfFileName glob="*${TRACE_FILE}-*.zip" />
                    <IfLastModified age="${TRACE_FILE_MAX_AGE}" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Async appenders -->
        <Async name="ASYNC_STDOUT" bufferSize="65536" blocking="false">
            <AppenderRef ref="STDOUT"/>
            <OverflowAction>DISCARD</OverflowAction>
        </Async>

        <Async name="ASYNC_ROLLING_FILE" bufferSize="65536" blocking="false">
            <AppenderRef ref="ROLLING_FILE"/>
            <OverflowAction>DISCARD</OverflowAction>
        </Async>

        <Async name="ASYNC_ROLLING_FILE_PERFORM" bufferSize="65536" blocking="false">
            <AppenderRef ref="ROLLING_FILE_PERFORM"/>
            <OverflowAction>DISCARD</OverflowAction>
        </Async>

        <Async name="ASYNC_ROLLING_FILE_INF" bufferSize="65536" blocking="false">
            <AppenderRef ref="ROLLING_FILE_INF"/>
            <OverflowAction>DISCARD</OverflowAction>
        </Async>
        <Async name="ASYNC_ROLLING_FILE_TRACE" bufferSize="65536">
            <AppenderRef ref="ROLLING_FILE_TRACE"/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="ASYNC_STDOUT" />
            <AppenderRef ref="ASYNC_ROLLING_FILE" />
        </Root>

        <!-- 审计日志 Logger，引用 ASYNC_ROLLING_FILE_TRACE -->
        <Logger name="AUDIT_LOGGER" level="info" additivity="false">
            <AppenderRef ref="ASYNC_ROLLING_FILE_TRACE"/>
        </Logger>
    </Loggers>
</Configuration>