<div *nzModalTitle>
  <div class="mb-[13px]">{{ modalTitle }}</div>

  <nz-alert class="text-[12px]" [nzShowIcon]="true" nzType="info" [nzMessage]="'plugin_update_prompt' | i18nextEager"> </nz-alert>
</div>

<div style="margin-top: 0px !important" class="h-[700px] overflow-auto">
  <div class="snd-step h-[calc(100%-40px)] w-full overflow-auto pr-3 pb-[24px]">
    <!-- 基本信息  -->
    <collapse-text [title]="'createtool_767'| i18nextEager">
      <ng-template #content>
        <div class="plugin-basic-info">
          <form [formGroup]="groupFormControl" nz-form [nzLayout]="'vertical'">
            <nz-form-item>
              <nz-form-label [nzRequired]="true">{{ createPluginFormLabel.ToolZhName }}</nz-form-label>
              <nz-form-control>
                <input nz-input nzClearable maxlength="64" formControlName="pluginZhName" style="width: 100%" [placeholder]="createPluginFormLabel.defaultPlaceholder" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzRequired]="true">{{ createPluginFormLabel.ToolName }}</nz-form-label>
              <nz-form-control>
                <input nz-input nzClearable maxlength="64" formControlName="pluginName" style="width: 100%" [placeholder]="createPluginFormLabel.defaultPlaceholder" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzRequired]="true">{{ createPluginFormLabel.toolDescription }}</nz-form-label>
              <nz-form-control>
                <textarea nz-input nzAutosize maxlength="600" formControlName="pluginDescription" (input)="onInput()" style="width: 100%; min-height: 120px; max-height: 240px"
                  [placeholder]="createPluginFormLabel.defaultPlaceholder">
                </textarea>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
      </ng-template>
    </collapse-text>

    <button (click)="importRequst()" class="mt-[24px] w-fit" nz-button>{{ 'import_and_parse' | i18nextEager }}</button>

    <!-- 参数信息 -->
    <div class="plugin-auth-info">
      <collapse-text [title]="'createtool_768'| i18nextEager">
        <ng-template #content>
          <form [formGroup]="groupFormControl" nz-form [nzLayout]="'horizontal'">
            <nz-form-item>
              <nz-form-label>{{ createPluginFormLabel.pluginMethod }}</nz-form-label>
              <nz-form-control>
                <nz-select [nzOptions]="methods" formControlName="pluginMethod" [nzPlaceHolder]="'select_placeholder' | i18nextEager" style="width: 100%" nzAllowClear>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>{{ createPluginFormLabel.toolURL }}</nz-form-label>
              <nz-form-control>
                <input nz-input nzClearable formControlName="pluginURL" maxlength="256" style="width: 100%" [placeholder]="createPluginFormLabel.defaultPlaceholder"
                  (ngModelChange)="onPluginURLChange()" />
              </nz-form-control>
            </nz-form-item>
          </form>
        </ng-template>
      </collapse-text>

      <collapse-text [title]="createPluginFormLabel.requestArguments">
        <ng-template #icons>
          <div class="flex cursor-pointer items-center gap-[4px]" (click)="openDebugModal()">
            <img [src]="debugIcon" alt="" />
            <span class="text-[#1476ff]">{{ 'tool_debug' | i18nextEager }}</span>
          </div>
        </ng-template>
        <ng-template #content>
          <form [formGroup]="groupFormControl">
            <div class="parameter-encapsulation">
              <div class="flex items-center gap-[8px]">
                <div class="text-[#191919]">{{ 'params_setting' | i18nextEager }}</div>
                <span nz-tooltip [nzTooltipTitle]="pluginReqWrapTips" style="font-size: 16px; cursor: pointer">
                  <nz-icon nzType="question-circle" nzTheme="outline"></nz-icon>
                </span>
              </div>
              <nz-switch formControlName="isInputList" id="args-wrapper"></nz-switch>
              <div class="params-tip">{{'createtool_773'| i18nextEager}}</div>
            </div>
          </form>
          <nz-tabset [(nzSelectedIndex)]="tabSelectIndex" (nzSelectedIndexChange)="beforeActiveChange($event)">
            <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.title"> </nz-tab>
          </nz-tabset>
          <div class="params-tip">
            {{ tabs[0].active ?tabsTip[0]:'' }} {{ tabs[1].active ?tabsTip[1]:'' }} {{ tabs[2].active ?tabsTip[2]:'' }} {{ tabs[3].active ?tabsTip[3]:'' }}
          </div>
          <div [hidden]="tabs[3].active">
            <!-- 请求参数 -->
            <form #inputForm="ngForm" nz-form [nzLayout]="'vertical'">
              <nz-form-item>
                <div class="flex w-full flex-col gap-[8px]">
                  <collapse-text [title]="'param_list' | i18nextEager" [classType]="'style3'">
                    <ng-template #icons>
                      <button *ngIf="selectedTab==='Body'" (click)="openImportArgsModal('req')" class="mt-2 w-fit gap-1 mr-2" style="display: flex" nz-button nzType="default">
                        <img class="w-4 h-4" [src]="changeUrl('assets/agent-center/images/import.svg')" alt="" />
                        {{ 'create_tool_import_args' | i18nextEager }}
                      </button>
                      <button (click)="addArgs('requestArgs')" class="mt-2 w-fit gap-1" style="display: flex" nz-button nzType="default">
                        <img class="w-4 h-4" [src]="changeUrl('assets/agent-center/icons/add-param.svg')" alt="" />
                        {{ 'add_params' | i18nextEager }}
                      </button>
                    </ng-template>
                    <ng-template #content>
                      <div class="mt-2 flex items-center gap-2">
                        <div class="text-label" class="w-[220px]">{{ 'param_name' | i18nextEager }}</div>
                        <div class="w-[86px] text-label">{{ 'chinese_name' | i18nextEager }}</div>
                        <div class="w-[110px] text-label">{{ 'param_type' | i18nextEager }}</div>
                        <div class="w-[86px] text-label">{{ 'default_v' | i18nextEager }}</div>
                        <div class="flex w-[120px] items-center gap-[4px] text-label">
                          <div>{{ 'description' | i18nextEager }}</div>
                          <span nz-tooltip [nzTooltipTitle]="'param_desc_tip' | i18nextEager" style="cursor: pointer; padding-bottom: 1px">
                            <nz-icon nzType="question-circle" nzTheme="outline"></nz-icon>
                          </span>
                        </div>
                        <div class="w-[60px] text-label">{{ 'param_validate' | i18nextEager }}</div>

                        <div class="w-[96px] text-label">{{ 'required' | i18nextEager }}</div>
                      </div>

                      <nz-tree id="cp-req-tree" [nzData]="showParams" nzShowLine [nzTreeTemplate]="nzTreeTemplate1">
                        <ng-template #nzTreeTemplate1 let-node let-origin="origin" let-i="index">
                          <div class="mt-[8px] flex gap-2 leading-none" style="flex: 1">
                            <!-- 参数名称 -->
                            <div id="argName" style="flex: 1">
                              <input style="width: 100%" type="text" (keydown)="$event.stopPropagation()" [name]="'inputFormName'+ origin.keyindex" nz-input nonEmptyValidator
                                [pluginRequestArgsNameValidatorNew]="
                                        getReqExistingNames(origin)
                                      " (input)="onInput()" [isEmptyObjReq]="origin" maxlength="200" [(ngModel)]="origin.name" [title]="origin.name"
                                [placeholder]="'input_placeholder' | i18nextEager" [class.input-error]="
                                               inputForm?.controls['inputFormName' + origin.keyindex]?.invalid &&
                                               (inputForm?.controls['inputFormName' + origin.keyindex]?.dirty || inputForm?.controls['inputFormName' + origin.keyindex]?.touched)
                                             " />
                              <div *ngIf="
                            inputForm?.controls['inputFormName' +  origin.keyindex]?.invalid &&
                            (inputForm?.controls['inputFormName' +  origin.keyindex]?.dirty || inputForm?.controls['inputFormName' +  origin.keyindex]?.touched)
                          " class="error-tip">
                                {{inputForm?.controls['inputFormName' + origin.keyindex]?.errors?.serviceName?.tiErrorMessage}}
                              </div>
                            </div>

                            <!-- 中文名称 -->
                            <div class="w-[86px]" id="cnArgName">
                              <input (keydown)="$event.stopPropagation()" style="width: 100%" type="text" [name]="'inputFormCnName' + origin.keyindex" nz-input (input)="onInput()"
                                maxlength="200" [(ngModel)]="origin.name_cn" [title]="origin.name_cn" [placeholder]="
                                        'input_placeholder' | i18nextEager
                                      " />
                              <div class="w-full" #cnWrapper></div>
                            </div>

                            <!-- 参数类型 -->
                            <div class="w-[110px]">
                              <nz-select *ngIf="origin.depth === 5||tabs[2].active; else otherTypes" style="width: 100%" [name]="'inputFormType' + origin.keyindex"
                                [nzOptions]="reqeustArgNoneObjTypeOptions" [(ngModel)]="origin.type" [nzDisabled]="tabs[0].active" (ngModelChange)="onParamTypeChange(origin)"
                                [nzPlaceHolder]="'select_placeholder' | i18nextEager">
                              </nz-select>

                              <ng-template #otherTypes>
                                <nz-select style="width: 100%" [name]="'inputFormType'+ origin.keyindex" [nzOptions]="reqeustArgTypeOptions" [(ngModel)]="origin.type"
                                  (ngModelChange)="
                                          onParamTypeChange(origin)
                                        " [nzDisabled]="tabs[0].active" [nzPlaceHolder]="'select_placeholder' | i18nextEager">
                                </nz-select>
                              </ng-template>
                            </div>

                            <!-- 默认值 -->
                            <!--后端要求放开到10000000-->
                            <div class="w-[86px]">
                              <input (keydown)="$event.stopPropagation()" *ngIf="origin.type === 'string'" style="width: 100%" type="text"
                                [name]="'inputFormDefault'+ origin.keyindex" nz-input maxlength="10000000" [(ngModel)]="origin.default" [title]="origin.default" [placeholder]="
                                        'input_placeholder' | i18nextEager
                                      " />

                              <input (keydown)="$event.stopPropagation()" *ngIf="origin.type === 'integer'" style="width: 100%" type="text"
                                [name]="'inputFormDefault'+ origin.keyindex" maxlength="2000" integerStr nz-input [(ngModel)]="origin.default" [title]="origin.default"
                                [placeholder]="
                                        'input_placeholder' | i18nextEager
                                      " />

                              <input (keydown)="$event.stopPropagation()" *ngIf="origin.type === 'number'" style="width: 100%" type="text"
                                [name]="'inputFormDefault'+ origin.keyindex" numberStr maxlength="2000" nz-input [(ngModel)]="origin.default" [title]="origin.default"
                                [placeholder]="
                                        'input_placeholder' | i18nextEager
                                      " />

                              <input (keydown)="$event.stopPropagation()" *ngIf="!isSimpleType(origin.type)" style="width: 100%" type="text"
                                [name]="'inputFormDefault'+ origin.keyindex" maxlength="2000" nz-input [(ngModel)]="origin.default" [title]="origin.default" [disabled]="true"
                                [placeholder]="
                                        'input_placeholder' | i18nextEager
                                      " />

                              <nz-select *ngIf="origin.type === 'boolean'" style="width: 100%" [name]="'inputFormDefault'+ origin.keyindex" [nzOptions]="booleanOps"
                                [(ngModel)]="origin.default" [nzPlaceHolder]="
                                        'select_placeholder' | i18nextEager
                                      ">
                              </nz-select>

                              <div class="w-full" #deWrapper></div>
                            </div>

                            <!-- 描述 -->
                            <div class="w-[120px]">
                              <flexible-text-field (keydown)="$event.stopPropagation()" [(ngModel)]="origin.description" [title]="origin.description"
                                [name]="'inputFormDesc' + origin.keyindex" [maxlength]="2000" [placeholder]="
                                        'input_placeholder' | i18nextEager
                                      " [nonEmptyValidator]="origin?.name.trim() !== ''" [class.input-error]="
                                inputForm?.controls['inputFormDesc' + origin.keyindex]?.invalid &&
                                (inputForm?.controls['inputFormDesc' +origin.keyindex]?.dirty || inputForm?.controls['inputFormDesc' + origin.keyindex]?.touched)
                              " />
                              <div *ngIf="
                            inputForm?.controls['inputFormDesc' +  origin.keyindex]?.invalid &&
                            (inputForm?.controls['inputFormDesc' +  origin.keyindex]?.dirty || inputForm?.controls['inputFormDesc' +  origin.keyindex]?.touched)
                          " class="error-tip">
                                {{inputForm?.controls['inputFormDesc' + origin.keyindex]?.errors?.serviceName?.tiErrorMessage}}
                              </div>
                            </div>
                            <!-- 参数校验 -->
                            <div class="a-form-checkbox flex h-[28px] w-[60px] items-center justify-center">
                              <label [id]="'inputFormCheckCheckbox' + origin.keyindex" nz-checkbox [name]="'inputFormCheck'+ origin.keyindex" [nzDisabled]="
                                        origin.depth > 0 ||
                                        !isSimpleType(origin.type) ||
                                        origin.type === 'boolean'
                                      " [(ngModel)]="origin.validated">
                              </label>
                            </div>

                            <!-- 必填 -->
                            <div class="a-form-checkbox flex h-[28px] w-[28px] items-center justify-center">
                              <label [id]="'inputFormRequiredCheckbox' + origin.keyindex" nz-checkbox [name]="'inputFormRequired'+ origin.keyindex" [(ngModel)]="origin.required">
                              </label>
                            </div>

                            <meta-add-props-icon class="ml-[8px]" *ngIf="isObjectLikeType(origin.type)" (click)="addReqObjProps(origin)" />

                            <div *ngIf="!isObjectLikeType(origin.type)" class="ml-[8px] h-[28px] w-[16px]"></div>

                            <div *ngIf="showReqPropsDelete(origin)" (click)="removeArg(origin, 'req')" class="plugin-op-icon flex h-[28px] items-center justify-center">
                              <nz-icon nzType="delete" nzTheme="outline" style="font-size: 16px; cursor: pointer; padding-top: 8px"></nz-icon>
                            </div>
                          </div>
                        </ng-template>
                      </nz-tree>
                    </ng-template>
                  </collapse-text>
                </div>
              </nz-form-item>
            </form>

            <!-- 参数校验 -->
            <div *ngIf="requestArgValidates.length">
              <collapse-text [title]="'param_validate' | i18nextEager" [classType]="'style2'">
                <ng-template #content>
                  <div class="mt-2 flex items-center gap-2">
                    <div class="w-[130px] text-label">{{ 'param_name' | i18nextEager }}</div>
                    <div class="w-[140px] text-label">{{ 'validate_type' | i18nextEager }}</div>
                    <div class="w-[calc(100%-270)] text-label">{{ 'validate_rule' | i18nextEager }}</div>
                  </div>

                  <div *ngFor="let param of requestArgValidates; index as i" class="mt-2 flex gap-2">
                    <!-- 参数名称 -->
                    <div class="w-[130px]">
                      <input style="width: 100%" type="text" maxlength="100" [disabled]="true" nz-input [ngModelOptions]="{ standalone: true }" [(ngModel)]="param.name"
                        [title]="param.name" />
                    </div>

                    <!-- 校验类型 -->
                    <div class="w-[140px]">
                      <nz-select *ngIf="param.type === 'string'; else numberBlock" style="width: 100%" [name]="'requestValidateType' + param.name" [nzOptions]="strValidateOps"
                        [(ngModel)]="param.validate_type"></nz-select>

                      <ng-template #numberBlock>
                        <nz-select style="width: 100%" [name]="'requestValidateType' + param.name" [nzOptions]="numberValidateOps" [(ngModel)]="param.validate_type"></nz-select>
                      </ng-template>
                    </div>

                    <!-- 校验规则 -->
                    <div class="w-[calc(100%-270px)]">
                      <!-- 字符长度 -->
                      <ng-container *ngIf="param.validate_type === 'CHAR'">
                        <input style="width: 100%" type="text" [name]="'requestValidateRule' + param.name" nonEmptyValidator positiveIntStr maxlength="7" nz-input
                          [(ngModel)]="param.validate_rule" [placeholder]="'input_placeholder' | i18nextEager" />
                        <div class="w-full" #requestRuleWrapper></div>
                      </ng-container>

                      <!-- 数值大小 -->
                      <ng-container *ngIf="param.validate_type === 'NUM'">
                        <number-range *ngIf="param.type === 'number'" [(ngModel)]="param.validate_rule" [name]="'requestValidateRule' + param.name" nonEmptyValidator numberRange
                          [leftPlaceholder]="'min' | i18nextEager" [rightPlaceholder]="'max' | i18nextEager" />

                        <number-range *ngIf="param.type === 'integer'" [(ngModel)]="param.validate_rule" [name]="'requestValidateRule' + param.name" nonEmptyValidator integerRange
                          [leftPlaceholder]="'min' | i18nextEager" [rightPlaceholder]="'max' | i18nextEager" />
                        <div class="w-full" #requestRuleWrapper></div>
                      </ng-container>

                      <!-- 时间日期 -->
                      <ng-container *ngIf="param.validate_type === 'DATE'">
                        <date-selector [(ngModel)]="param.validate_rule" [name]="'requestValidateRule' + param.name" nonEmptyValidator />
                        <div class="w-full pl-[30%]" #requestRuleWrapper></div>
                      </ng-container>

                      <!-- 枚举值 -->
                      <ng-container *ngIf="param.validate_type === 'ENUM'">
                        <input style="width: 100%" type="text" [name]="'requestValidateRule' + param.name" nonEmptyValidator enumStr nz-input [(ngModel)]="param.validate_rule"
                          [placeholder]="
                                'validate_rule_placeholder' | i18nextEager
                              " />
                        <div class="w-full" #requestRuleWrapper></div>
                      </ng-container>
                    </div>
                  </div>
                </ng-template>
              </collapse-text>
            </div>
          </div>

          <div [hidden]="!tabs[3].active">
            <form #pathForm="ngForm" nz-form [nzLayout]="'vertical'">
              <nz-form-item>
                <!-- 自定义非流式响应参数 或 流式响应样例 -->
                <div class="flex w-full flex-col gap-[8px]" *ngIf="patchArgs?.length > 0; else pathEmpty">
                  <div class="flex items-center gap-2">
                    <div class="w-[310px] text-label">{{ 'pathParamName' | i18nextEager }}</div>
                    <div class="w-[96px] text-label">{{ 'param_type' | i18nextEager }}</div>
                    <div class="w-[400px] text-label">{{ 'param_desc' | i18nextEager }}</div>
                  </div>
                  <nz-tree id="cp-res-tree" [nzData]="patchArgs" nzShowLine [nzTreeTemplate]="nzTreeTemplate2">
                    <ng-template #nzTreeTemplate2 let-node let-origin="origin" let-i="index">
                      <div class="mt-[8px] flex gap-2 leading-none">
                        <div [ngStyle]="{
                                width: getResLayerIndexWidth(origin)
                              }">
                          <input [disabled]="true" style="width: 100%" type="text" [name]="'responseFormName'+ origin.keyindex" nonEmptyValidator variableNameValidator
                            maxlength="200" [isEmptyObj]="origin" nz-input [(ngModel)]="origin.name" [placeholder]="
                                  'input_placeholder' | i18nextEager
                                " />
                          <div class="w-full" #wrapper></div>
                        </div>
                        <div class="w-[96px]">
                          <nz-select [nzDisabled]="true" style="width: 100%" [name]="'responseFormType' + origin.keyindex" [nzOptions]="reqeustArgTypeOptions"
                            [(ngModel)]="origin.type">
                          </nz-select>
                        </div>
                        <div class="w-[400px]">
                          <input style="width: 100%" type="text" [name]="'responseFormDesc' + origin.keyindex" maxlength="2000" nonEmptyValidator nz-input
                            [(ngModel)]="origin.description" [title]="origin.description" [placeholder]="
                                  'input_placeholder' | i18nextEager
                                " [class.input-error]="
                                pathForm?.controls['responseFormDesc' +  origin.keyindex]?.invalid &&
                                (pathForm?.controls['responseFormDesc' +  origin.keyindex]?.dirty || pathForm?.controls['responseFormDesc' +  origin.keyindex]?.touched)
                              " />
                          <div *ngIf="
                          pathForm?.controls['responseFormDesc' +  origin.keyindex]?.invalid &&
                          (pathForm?.controls['responseFormDesc' +  origin.keyindex]?.dirty || pathForm?.controls['responseFormDesc' +  origin.keyindex]?.touched)
                        " class="error-tip">
                            {{pathForm?.controls['responseFormDesc' + origin.keyindex]?.errors?.serviceName?.tiErrorMessage}}
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </nz-tree>
                </div>
                <ng-template #pathEmpty>
                  <nz-empty [nzNotFoundImage]="emptyImage" [nzNotFoundContent]="'no_data' | i18nextEager"></nz-empty>
                </ng-template>
              </nz-form-item>
            </form>
          </div>
        </ng-template>
      </collapse-text>

      <collapse-text [title]="createPluginFormLabel.requestResponse">
        <ng-template #icons> </ng-template>
        <ng-template #content>
          <form [formGroup]="groupFormControl" nz-form [nzLayout]="'vertical'">
            <nz-form-item>
              <div class="parameter-encapsulation">
                <div class="streaming-response">
                  <span>{{ 'stream_res' | i18nextEager }}</span>
                  <span *ngIf="groupFormControl?.get('intf_type')?.value" nz-tooltip [nzTooltipTitle]="streamResTip" class="test cursor-pointer">
                    <nz-icon nzType="question-circle" nzTheme="outline"></nz-icon>
                  </span>
                </div>
                <nz-switch formControlName="intf_type"></nz-switch>
              </div>
            </nz-form-item>
            <nz-form-item>
              <div [style]="{ 'margin-top': '-8px' ,'width':'100%' }">
                <collapse-text [title]="'createplugincomponent_732'|i18nextEager" [classType]="'style2'" [open]="false">
                  <ng-template #content>
                    <div class="break-all bg-[#fafafa] p-[8px]">
                      <div *ngFor="let item of streamResExamples">
                        <div>data: {{ formatJson(item) }}</div>
                      </div>
                    </div>
                  </ng-template>
                </collapse-text>

                <div class="parameter-encapsulation">
                  <div class="streaming-response">
                    <div class="text-[#191919]">{{ 'params_setting' | i18nextEager }}</div>
                    <span nz-tooltip [nzTooltipTitle]="pluginResWrapTips" style="font-size: 16px; cursor: pointer">
                      <nz-icon nzType="question-circle" nzTheme="outline"></nz-icon>
                    </span>
                  </div>
                  <nz-switch formControlName="isOutputList" id="args-wrapper"></nz-switch>
                </div>
              </div>
            </nz-form-item>
          </form>
          <collapse-text [title]="'param_list' | i18nextEager" [classType]="'style2'">
            <ng-template #icons>
              <button (click)="openImportArgsModal('res')" class="mt-2 w-fit gap-1 mr-2" style="display: flex" nz-button nzType="default">
                <img class="w-4 h-4" [src]="changeUrl('assets/agent-center/images/import.svg')" alt="" />
                {{ 'create_tool_import_args' | i18nextEager }}
              </button>
              <button (click)="addArgs('responseArgs')" class="mt-2 w-fit gap-1" style="display: flex" nz-button nzType="default">
                <img class="w-4 h-4" [src]="changeUrl('assets/agent-center/icons/add-param.svg')" alt="" />
                {{ 'add_params' | i18nextEager }}
              </button>
            </ng-template>
            <ng-template #content>
              <form #responseForm="ngForm">
                <div class="mt-2 flex items-center gap-2">
                  <div class="text-label" style="flex: 1">{{ 'param_name' | i18nextEager }}</div>
                  <div class="w-[290px] text-label">{{ 'description' | i18nextEager }}</div>
                  <div class="w-[115px] text-label">{{ 'param_type' | i18nextEager }}</div>
                  <div class="w-[106px] text-label">{{ 'required' | i18nextEager }}</div>
                </div>
                <nz-tree id="cp-res-tree" [nzData]="responseArgs" nzShowLine [nzTreeTemplate]="nzTreeTemplate3">
                  <ng-template #nzTreeTemplate3 let-node let-origin="origin" let-i="index">
                    <div class="mt-[8px] flex gap-2 leading-none" style="flex: 1">
                      <div style="flex: 1" class="getresponseargs">
                        <input style="width: 100%" type="text" [name]="'responseFormName' + origin.keyindex" (keydown)="$event.stopPropagation()" nonEmptyValidator
                          [pluginRequestArgsNameValidator]="
                            getResExistingNames(origin)
                          " maxlength="200" [isEmptyObjReq]="origin" (input)="onResponseInput()" nz-input [(ngModel)]="origin.name" [title]="origin.name" [placeholder]="
                            'input_placeholder' | i18nextEager
                          " [class.input-error]="
                                    responseForm?.controls['responseFormName' +  origin.keyindex]?.invalid &&
                                    (responseForm?.controls['responseFormName' +  origin.keyindex]?.dirty || responseForm?.controls['responseFormName' +  origin.keyindex]?.touched)
                                  " />
                        <div *ngIf="
                      responseForm?.controls['responseFormName' +  origin.keyindex]?.invalid &&
                      (responseForm?.controls['responseFormName' +  origin.keyindex]?.dirty || responseForm?.controls['responseFormName' +  origin.keyindex]?.touched)
                    " class="error-tip">
                          {{responseForm?.controls['responseFormName' + origin.keyindex]?.errors?.serviceName?.tiErrorMessage}}
                        </div>
                      </div>
                      <div class="w-[290px]">
                        <input style="width: 100%" type="text" [name]="'responseFormDesc' + origin.keyindex" maxlength="2000" nz-input [(ngModel)]="origin.description"
                          [title]="origin.description" [placeholder]="
                            'input_placeholder' | i18nextEager
                          " [class.input-error]="
                            responseForm?.controls['responseFormDesc' + i]?.invalid &&
                            (responseForm?.controls['responseFormDesc' + i]?.dirty || responseForm?.controls['responseFormDesc' + i]?.touched)
                          " />
                        <div *ngIf="
                      responseForm?.controls['responseFormDesc' +  origin.keyindex]?.invalid &&
                      (responseForm?.controls['responseFormDesc' +  origin.keyindex]?.dirty || responseForm?.controls['responseFormDesc' +  origin.keyindex]?.touched)
                    " class="error-tip">
                          {{responseForm?.controls['responseFormDesc' + origin.keyindex]?.errors?.serviceName?.tiErrorMessage}}
                        </div>
                      </div>

                      <div class="w-[96px]">
                        <nz-select *ngIf="origin.depth === 5; else otherTypes" style="width: 100%" [name]="'responseFormType' + origin.keyindex"
                          [nzOptions]="reqeustArgNoneObjTypeOptions" [(ngModel)]="origin.type" (ngModelChange)="
                            onResParamTypeChange(origin)
                          ">
                        </nz-select>

                        <ng-template #otherTypes>
                          <nz-select style="width: 100%" [name]="'responseFormType' + origin.keyindex" [nzOptions]="reqeustArgTypeOptions" [(ngModel)]="origin.type"
                            (ngModelChange)="
                              onResParamTypeChange(origin)
                            ">
                          </nz-select>
                        </ng-template>
                      </div>

                      <!-- 是否必填 -->
                      <div class="a-form-checkbox flex h-[28px] w-[60px] items-center justify-center">
                        <label [id]="'responseFormRequiredCheckbox' + origin.keyindex" nz-checkbox [name]="'responseFormRequired' + origin.keyindex" [(ngModel)]="origin.required">
                        </label>
                      </div>

                      <meta-add-props-icon class="ml-[4px]" *ngIf="isObjectLikeType(origin.type)" (click)="addResObjProps(origin)" />

                      <div *ngIf="!isObjectLikeType(origin.type)" class="ml-[4px] h-[28px] w-[16px]"></div>

                      <div *ngIf="showResPropsDelete(origin)" (click)="removeArg(origin, 'res')" class="plugin-op-icon flex h-[28px] items-center justify-center">
                        <nz-icon nzType="delete" nzTheme="outline" style="font-size: 16px; cursor: pointer; padding-top: 8px" />
                      </div>
                    </div>
                  </ng-template>
                </nz-tree>
              </form>
            </ng-template>
          </collapse-text>
        </ng-template>
      </collapse-text>
      <!-- 响应参数 -->
    </div>
  </div>
</div>

<div *nzModalFooter>
  <nz-space>
    <button *nzSpaceItem type="button" nz-button (click)="dismiss()">{{ 'cancel' | i18nextEager }}</button>
    <button *nzSpaceItem type="button" nz-button [nzLoading]="loading" nzType="primary" (click)="onConfirm()">{{ 'ok' | i18nextEager }}</button>
  </nz-space>
</div>

<ng-template #streamTmpl>
  <div class="flex flex-col gap-[8px] rounded-lg bg-[#fafafa] p-[16px]">
    <span class="font-semibold text-[#191919]"> {{ 'stream_res_example' | i18nextEager }} </span>
    <div class="break-all">
      <div *ngFor="let item of streamResExamples">
        <div>data: {{ formatJson(item) }}</div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #streamResTip>
  <stream-response-tip></stream-response-tip>
</ng-template>
