::ng-deep ti-modal-wrapper{
  --ti-modal-header-space-padding-bottom: calc(var(--ti-common-space-base)* 4) !important;
  --ti-modal-footer-space-padding-top: calc(var(--ti-common-space-base)* 4) !important;
  --ti-modal-container-space-padding: var(--ti-common-space-6x) !important;
}
::ng-deep ti-formfield{
  --ti-formfield-item-padding-bottom: var(--ti-common-space-4x)!important;
  --ti-formfield-title-margin-bottom:var(--ti-common-space-4x)!important;
  --ti-formfield-item-label-padding-bottom: var(--ti-common-space-base)!important;
  --ti-formfield-text-item-label-padding-bottom-vertical:var(--ti-common-space-base)!important;
}
