<div class="flex gap-2">
  <p>{{'configureworkflowmodalcomponent_452'| i18nextEager}}</p>
</div>

<div class="h-full w-full overflow-x-hidden">
  <meta-acc-block
    class="mt-2 block"
    [title]="'input_params' | i18nextEager"
  >
    <ng-template #right>
      <div
        class="fill-flow-icon"
        nz-tooltip [nzTooltipTitle]="placeholder_1"
        (click)="fillInputParam()"
      ></div>
    </ng-template>
    <ng-template #content>
      <div class="mt-2 flex items-center gap-2">
        <div class="w-1/4 text-label">
          {{ 'param_name' | i18nextEager }}
        </div>
        <div class="w-3/4 text-label">{{ 'type' | i18nextEager }}</div>
      </div>

      <form #inputForm="ngForm">
        <div
          *ngFor="let param of inputParams; index as i"
          class="mt-2 flex gap-2"
        >
          <div
            class="flex h-[28px] w-1/4 shrink-0 items-center leading-[18px] text-label"
          >
                  <span class="max-w-[calc(100%-48px)] overflow-hidden text-ellipsis whitespace-nowrap">
                    {{ param.name }}
                  </span>
              <span *ngIf="!param.required">{{
                  'optional' | i18nextEager
                }}</span>
          </div>
          <div class="flex w-3/4 shrink-0 gap-[8px]">
            <div
              class="flex h-fit w-[calc(100%-16px)] items-center gap-2"
            >
              <div class="flex w-full">
                <div class="w-[30%]">
                  <nz-select
                    class="combo-select-left"
                    style="width: 100%"
                    [nzOptions]="param.options"
                    [name]="'inputFormType' + i"
                    [(ngModel)]="param.value.type"
                    nzLabelKey="value"
                    nzValueKey="value"
                    (ngModelChange)="onInputTypeChange(param)"
                  ></nz-select>
                </div>

                <div class="w-[70%]">
                  <input
                    class="combo-select-right"
                    *ngIf="
                            param.value.type === 'literal' &&
                            !isArrOrObj(param.type)
                          "
                    style="width: 100%"
                    type="text"
                    [name]="'inputFormValue' + i"
                    [nonEmptyValidator]="param.required"
                    nz-input
                    [placeholder]="'input_placeholder' | i18nextEager"
                    [(ngModel)]="param.value.content"
                    [title]="param.value.content"
                    [class.input-error]="inputForm?.controls['inputFormValue' + i]?.invalid && (inputForm?.controls['inputFormValue' + i]?.dirty || inputForm?.controls['inputFormValue' + i]?.touched)"
                  />
                  <div *ngIf="inputForm?.controls['inputFormValue' + i]?.invalid && (inputForm?.controls['inputFormValue' + i]?.dirty || inputForm?.controls['inputFormValue' + i]?.touched)" class="error-tip">
                    {{inputForm?.controls['inputFormValue' + i]?.errors?.serviceName?.tiErrorMessage}}
                  </div>

                  <typed-json-input
                    *ngIf="isArrOrObj(param.type)"
                    [param]="param"
                    [isValidated]="isValidated"
                  ></typed-json-input>

                  <input-tree-select
                    class="combo-select-right"
                    style="width: 100%"
                    *ngIf="param.value.type === 'ref'"
                    [options]="$any(param.refs)"
                    [(ngModel)]="param.value.content"
                    [placeholder]="'select_placeholder' | i18nextEager"
                    refSelectedRequire
                    [name]="'inputFormValue' + i"
                  >
                  </input-tree-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
  </meta-acc-block>

  <div class="my-[16px] h-[1px] w-full bg-[#f0f0f0]"></div>

  <meta-acc-block
    class="mt-4 block"
    [title]="'output_params' | i18nextEager"
  >
    <ng-template #content>
      <readonly-params-tree [params]="flow?.outputs || []" />
    </ng-template>
  </meta-acc-block>
  <div class="my-[16px] h-[1px] w-full bg-[#f0f0f0]"></div>

  <meta-acc-block
    class="mt-4 block"
  >
    <ng-template #blockTitle>
          <span class="font-bold">{{
              'configureworkflowmodalcomponent_453' | i18nextEager
            }}</span>
        <span
          nz-tooltip [nzTooltipTitle]="'configureworkflowmodalcomponent_447'| i18nextEager"
          nz-icon
          nzType="question-circle"
          nzTheme="outline"
          class="cursor-pointer"
        ></span>
    </ng-template>
    <ng-template #right>
      <div
        class="fill-flow-icon"
        nz-tooltip [nzTooltipTitle]="placeholder_1"
        (click)="fillContextParam()"
      ></div>
    </ng-template>
    <ng-template #content>
      <div class="mt-2 flex items-center gap-2">
        <div class="w-1/4 text-label">
          {{ 'variable_name' | i18nextEager }}
        </div>
        <div class="w-3/4 text-label">{{ 'type' | i18nextEager }}</div>
      </div>

      <form #contextForm="ngForm">
        <div
          *ngFor="let param of contextParams; index as i"
          class="mt-2 flex gap-2"
        >
          <div
            class="flex h-[28px] w-1/4 shrink-0 items-center leading-[18px] text-label"
          >
                  <span class="max-w-[calc(100%-48px)] overflow-hidden text-ellipsis whitespace-nowrap">
                    {{ param.name }}
                  </span>
              <span *ngIf="!param.required">{{
                  'optional' | i18nextEager
                }}</span>
          </div>
          <div class="flex w-3/4 shrink-0 gap-[8px]">
            <div
              class="flex h-fit w-[calc(100%-16px)] items-center gap-2"
            >
              <div class="flex w-full">
                <div class="w-[30%]">
                  <nz-select
                    class="combo-select-left"
                    style="width: 100%"
                    [nzOptions]="options"
                    [name]="'inputFormType' + i"
                    [(ngModel)]="param.value.type"
                    [nzDisabled]="true"
                    nzLabelKey="value"
                    nzValueKey="value"
                    (ngModelChange)="onInputTypeChange(param)"
                  ></nz-select>
                </div>

                <div class="w-[70%]">
                  <input-tree-select
                    class="combo-select-right"
                    style="width: 100%"
                    [options]="$any(param.refs)"
                    [(ngModel)]="param.value.content"
                    [placeholder]="'select_placeholder' | i18nextEager"
                    refSelectedRequire
                    [name]="'inputFormValue' + i"
                  >
                  </input-tree-select>
                  <div *ngIf="contextForm?.controls['inputFormValue' + i]?.invalid && (contextForm?.controls['inputFormValue' + i]?.dirty || contextForm?.controls['inputFormValue' + i]?.touched)" class="error-tip">
                    {{contextForm?.controls['inputFormValue' + i]?.errors?.serviceName?.tiErrorMessage}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
  </meta-acc-block>

  <div class="my-[16px] h-[1px] w-full bg-[#f0f0f0]"></div>
  <condition-modal #conditionModal [entryCondition]="entry_condition"
                   [conditionRefOptions]="conditionRefOptions"
                   [title]="'configureworkflowmodalcomponent_443'| i18nextEager"
                   [titleTip]="'configureworkflowmodalcomponent_449'| i18nextEager"></condition-modal>
  <meta-acc-block
    class="block w-full"
    [title]="'configureworkflowmodalcomponent_445'| i18nextEager"
  >
    <ng-template #content>
            <textarea
              nz-input
              [placeholder]="'input_placeholder' | i18nextEager"
              [(ngModel)]="flow.description"
              class="!w-full h-[104px] mt-4"
              maxlength="512"
              [nzAutosize]="{ minRows: 3, maxRows: 6 }"
            ></textarea>
      </ng-template>
  </meta-acc-block>

  <div class="mt-4 flex justify-end gap-2">
    <button
      (click)="cancel()"
      type="button"
      nz-button
      nzType="default"
    >
      {{ 'cancel' | i18nextEager }}
    </button>
    <button (click)="onConfirm()" type="button" nz-button nzType="primary">
      {{ 'ok' | i18nextEager }}
    </button>
  </div>
</div>
