<div
  (clickOutside)="onClickOutside($event)"
  [ngStyle]="{ width: width }"
  class="flex flex-col gap-[8px] py-[4px]"
>
  <div class="flex w-full flex-col gap-2">
    <div class="text-label">
      {{ 'type' | i18nextEager }}
    </div>

    <nz-select
      (ngModelChange)="onParamTypeChange(param)"
      [(ngModel)]="param.value.type"
      [name]="'paramType'"
      [nzOptions]="sourceOptions"
      nzLabelKey="value"
      style="width: 100%"
    ></nz-select>
  </div>

  <div [ngClass]="isMulti ? 'flex justify-between' : ''" class="text-label">
    {{ 'default_v' | i18nextEager }}{{ 'optional' | i18nextEager }}
  </div>

  <div class="w-full">
    <input-tree-select
      *ngIf="field.value.type === 'ref'"
      [(ngModel)]="field.value.content"
      [placeholder]="'select_placeholder' | i18nextEager"
      [options]="$any(field.refs)"
      refSelectedRequire
      style="width: 100%"
    >
    </input-tree-select>
    <form #valueForm="ngForm" *ngIf="param.value.type === 'literal'">
      <ng-container *ngIf="field.type === 'string'">
        <textarea
          (ngModelChange)="debounceInput()"
          [(ngModel)]="value"
          [placeholder]="'input_placeholder' | i18nextEager"
          class="!w-full"
          name="defaultValue"
          rows="5"
          nz-input
        ></textarea>
      </ng-container>

      <ng-container *ngIf="field.type === 'integer'">
        <input
          (ngModelChange)="debounceInput()"
          [(ngModel)]="value"
          [placeholder]="'input_placeholder' | i18nextEager"
          integerStr
          name="defaultValue"
          style="width: 100%"
          nz-input
          type="text"
        />
      </ng-container>

      <ng-container *ngIf="field.type === 'number'">
        <input
          (ngModelChange)="debounceInput()"
          [(ngModel)]="value"
          [placeholder]="'input_placeholder' | i18nextEager"
          name="defaultValue"
          numberStr
          style="width: 100%"
          nz-input
          type="text"
        />
      </ng-container>

      <ng-container *ngIf="field.type === 'boolean'">
        <nz-select
          [(ngModel)]="value"
          [nzOptions]="booleanOps"
          [nzPlaceHolder]="'select_placeholder' | i18nextEager"
          name="defaultValue"
          nzLabelKey="value"
          nzValueKey="value"
          style="width: 100%"
        >
        </nz-select>
      </ng-container>

      <ng-container
        *ngIf="
          field.type.startsWith('array') &&
          !param.type.includes('array\<file\>')
        "
      >
        <div
          class="w-full rounded-[6px] border-[1px] border-solid border-[#ccc]"
        >
          <div
            class="flex items-center justify-between rounded-t-[6px] border-b-[1px] border-solid border-[#ccc] bg-[#f0f7ff] p-[10px]"
          >
            <span class="font-bold text-[#333]">json</span>
            <asset-format-icon
              (click)="formatContent()"
              nz-tooltip [nzTooltipTitle]="'format' | i18nextEager"
              class="cursor-pointer"
            ></asset-format-icon>
          </div>
          <div
            class="h-[134px] w-full rounded-b-[6px] bg-white py-[10px] pr-[10px]"
          >
            <ngx-monaco-editor
              #editorCmp
              (ngModelChange)="debounceInput()"
              [(ngModel)]="value"
              [options]="editorOps"
              [param]="field"
              [uri]="editorUri"
              arrTypeValidator
              name="defaultValue"
            ></ngx-monaco-editor>
          </div>
        </div>

        <div
          *ngIf="getError()"
          class="mt-[8px] w-full text-[#f23030]"
        >
          {{ getError() }}
        </div>
      </ng-container>

      <ng-container *ngIf="field.type === 'object'">
        <div
          class="w-full rounded-[6px] border-[1px] border-solid border-[#ccc]"
        >
          <div
            class="flex items-center justify-between rounded-t-[6px] border-b-[1px] border-solid border-[#ccc] bg-[#f0f7ff] p-[10px]"
          >
            <span class="font-bold text-[#333]">json</span>
            <asset-format-icon
              (click)="formatContent()"
              nz-tooltip [nzTooltipTitle]="'format' | i18nextEager"
              class="cursor-pointer"
            ></asset-format-icon>
          </div>
          <div
            class="h-[134px] w-full rounded-b-[6px] bg-white py-[10px] pr-[10px]"
          >
            <ngx-monaco-editor
              #editorCmp
              (ngModelChange)="debounceInput()"
              [(ngModel)]="value"
              [options]="editorOps"
              [uri]="editorUri"
              name="defaultValue"
              objTypeValidator
            ></ngx-monaco-editor>
          </div>
        </div>

        <div
          *ngIf="getError()"
          class="mt-[8px] w-full text-[#f23030]"
        >
          {{ getError() }}
        </div>
      </ng-container>

    </form>
  </div>
</div>
