.modal-container {
  display: flex;
  flex-direction: column;

  .modal-header-style {
    margin-bottom: 8px;

    .modal-header-text {
      font-size: 20px;
      color: #191919;
      line-height: 30px;
      font-weight: bold;
    }
  }

  .body-tmpl-name,
  .body-create-time,
  .body-tmpl-label,
  .body-tmpl-content {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 17px;
  }

  .label-text {
    font-size: 14px;
    color: #595959;
    line-height: 22px;
    font-weight: 400;
  }

  #tmpl-tags {
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .single-tag {
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    background-color: rgba(2, 153, 49, 10%);
    color: #029931;
    font-weight: 400;
  }

  .tmpl-name-input {
    width: 328px;
    height: 32px;
    border: 1px solid #c2c2c2;
    border-radius: 6px;
  }

  .create-time-text {
    font-size: 14px;
    color: #191919;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 400;
  }

  .tmpl-content-text {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 26px;
    font-weight: 400;
    overflow: auto;
    max-height: 300px;
  }

  .body-tmpl-content {
    align-items: flex-start;
  }

  .tmpl-content-label,
  .model-params-label {
    flex-shrink: 0;
  }

  .modal-footer-style {
    padding-top: 7px !important;
  }
}

.template-name {
  ::ng-deep tr.ti3-form-list.ng-star-inserted {
    display: flex;
    align-items: center;
  }
}

.body-model-params {
  display: flex;
  gap: 12px;
  margin-bottom: 17px;
}

.remark-platform {
  font-size: 14px;
  color: #131415;
  letter-spacing: 0;
  line-height: 22px;
  font-weight: 400;
}

.remark-split-line {
  display: inline-block;
  height: 14px;
  width: 1px;
  background-color: #00000080;
  position: relative;
  top: 3px;
}

.last-line {
  margin-right: 8px;
}
 
.body-tmpl-label-select {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-bottom: 17px;
}
 
.label-text-select {
  font-size: 14px;
  color: #595959;
  line-height: 22px;
  font-weight: 400;
  width: 56px;
}