.com-drawer-title {
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: 11px;
    left: 55px;
}

.com-drawer-content {
    height: calc(100vh - 130px);
    padding: 16px 0;
    overflow: auto;
}

.com-drawer-footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}