<div id="route-policy">
  <div class="top-title-area">
    <div class="title-area-left">
      <div class="page-title">{{ 'route_policy' | i18nextEager }}</div>
      <div *ngIf="srcData.data?.length > 0">（{{ totalNumber }}）</div>
    </div>
    <div class="flex gap-[16px]">
      <div *ngIf="!isShowNoDataGuide && !isFirstLoading" class="guide-collapse-btn flex items-center cursor-pointer" (click)="isShowGuide = !isShowGuide">
        <span nz-icon [nzType]="isShowGuide ? 'down' : 'up'" class="mr-[4px]"></span>
        <span>{{ 'create_guide' | i18nextEager }}</span>
      </div>
      <button nz-button nzType="primary" (click)="addRoutePolicy()" [disabled]="!subscribeBtnStatus">
        {{ 'create_route_policy' | i18nextEager }}
      </button>
    </div>
  </div>

  <div
    class="overflow-hidden guide-collapse-content shrink-0"
    *ngIf="!isShowNoDataGuide && !isFirstLoading"
    [ngClass]="{ 'h-[188px]': isShowGuide, 'h-[0px]': !isShowGuide, 'mb-[24px]': isShowGuide }"
  >
    <app-no-data-guide [isSmall]="true" [type]="'routePolicy'"></app-no-data-guide>
  </div>

  <div class="query-content" *ngIf="!isShowNoDataGuide && !isFirstLoading">
    <nz-input-group nzSearch [nzSuffix]="suffixIconSearch" class="search-box">
      <input nz-input [(ngModel)]="searchName" [placeholder]="'search_and_filter' | i18nextEager" [maxLength]="64" (keyup.enter)="onSearchContentChange()" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search" (click)="onSearchContentChange()" class="cursor-pointer"></span>
    </ng-template>

    <button nz-button nzType="default" class="h-8 w-8 flex items-center justify-center p-0" (click)="freshBtn()">
      <span nz-icon nzType="reload" nzTheme="outline"></span>
    </button>
  </div>

  <div class="min-h-[200px]">
    <nz-table
      *ngIf="!isFirstLoading"
      #basicTable
      [nzData]="srcData.data"
      [nzLoading]="loading"
      [nzShowPagination]="false"
      [nzFrontPagination]="false"
      class="table-style"
      [nzNoResult]="noDataTemplate"
    >
      <thead *ngIf="!isShowNoDataGuide">
        <tr>
          <th *ngFor="let column of columns" [nzWidth]="column.width || null">{{ column.title }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of basicTable.data; index as i" style="height: 64px">
          <td style="word-break:break-all">
            <span style="word-break:break-all;color: rgba(20, 118, 255, 1); cursor: pointer" (click)="goStrategyDetail(row)">{{ row.strategy_name }}</span>
          </td>
          <td>{{ row.strategy_description }}</td>
          <td style="word-break:break-all">{{ row.strategy_key }}</td>
          <td style="word-break:break-all">{{ row.strategy_key }}</td>
          <td>{{ row.created_date }}</td>
          <td>{{ row.last_updated_date }}</td>
          <td>
            <a nz-dropdown [nzDropdownMenu]="menu">
              <span nz-icon nzType="ellipsis" style="font-size: 20px; color: #191919"></span>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item *ngFor="let item of dataToItems" [nzDisabled]="item.disabled" (click)="onSelect(item, row)">
                  <div class="flex items-center gap-[6px]">
                    <img alt="" [src]="item.icon" class="w-4 h-4" />
                    <span>{{ item.label }}</span>
                  </div>
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <ng-template #noDataTemplate>
      <div style="text-align: center" class="py-6">
        <app-new-common-no-data-with-btn
          *ngIf="searchName"
          [type]="'filterNoData'"
          [tutorialType]="'routPolicy'"
          [noDataBtnStr]="(subscribeBtnStatus ? 'create_route_policy' : '') | i18nextEager"
          (create)="addRoutePolicy()"
          (clear)="onClearSearchContentChange()"
        />
        <app-no-data-guide *ngIf="!searchName" [type]="'routePolicy'"></app-no-data-guide>
      </div>
    </ng-template>

    <div class="flex justify-end mt-[24px]" *ngIf="totalNumber > 10">
      <nz-pagination
        [(nzPageIndex)]="currentPage"
        [nzTotal]="totalNumber"
        [(nzPageSize)]="pageSize.size"
        [nzPageSizeOptions]="pageSize.options"
        nzShowSizeChanger
        (nzPageIndexChange)="getModelRouterStrategiesListFn()"
        (nzPageSizeChange)="onSearchContentChange()"
      >
      </nz-pagination>
    </div>
  </div>
</div>
