<div class="main-container">
  <div class="search-container mb-[16px]">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="{{ 'search' | i18nextEager }}" [(ngModel)]="searchValue" (keyup.enter)="onSearch()" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>
  <nz-table
    #remoteTable
    [nzFrontPagination]="false"
    [nzData]="listOfData"
    [nzTotal]="total"
    [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize"
    [nzLoading]="loading"
    [nzShowSizeChanger]="true"
    [nzPageSizeOptions]="[10, 20, 50, 100]"
    (nzQueryParams)="onQueryParamsChange($event)"
    [nzScroll]="{ x: '500px', y: '400px' }"
  >
    <thead>
      <tr>
        <th [nzChecked]="isAllChecked" [nzWidth]="'50px'" (nzCheckedChange)="onAllChecked($event)"></th>
        <th *ngFor="let column of listOfColumns" [nzWidth]="column.width ? column.width + 'px' : null">
          {{ column.title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of remoteTable.data">
        <td [nzChecked]="setOfCheckedId.has(data[selectedType.rowKey])" (nzCheckedChange)="onItemChecked(data[selectedType.rowKey], $event)"></td>
        <td *ngFor="let column of listOfColumns" [nz-tooltip]="data[column.dataIndex]">
          {{ data[column.dataIndex] }}
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<div style="padding-top: 16px; text-align: right;">
  <nz-space>
    <button *nzSpaceItem type="button" nz-button (click)="dismiss()">
      {{ 'cancel' | i18nextEager }}
    </button>
    <button *nzSpaceItem type="button" nz-button nzType="primary" [disabled]="!selectedRows.length" (click)="handleExport()">
      {{ 'export' | i18nextEager }}
    </button>
  </nz-space>
</div>
