::ng-deep {
  .tp-halfmodal-cotent stream-transform-modal {
    display: block;
    height: 100%;
  }
}

.icon-border {
  border-radius: 6px;
  padding: 4px;
  cursor: pointer;
  border: none;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #F2F5FC;
  }
}

.assemble-title {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.desc-text {
  margin-top: 16px;
  color: rgba(136, 136, 136, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.title-text {
  color: rgba(25, 25, 25, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.error-tip {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 4px;
}

.input-error {
  border-color: #ff4d4f !important;
}
