<div class="halfmodal-header">
  {{ 'evaluation_dataset_detail'|i18nextEager }}
</div>
<div class="halfmodal-body">
  <nz-table
    [nzData]="srcData.data"
    style="height: 100%;"
    [nzBordered]="true"
  >
    <thead>
      <tr>
        <th *ngFor="let column of columns" [style.width]="column.width">
          <ng-container *ngIf="column.sortKey;else noSortKey">
            {{ column.title }}
          </ng-container>
          <ng-template #noSortKey>
            {{ column.title }}
          </ng-template>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of displayedData">
        <td nz-ellipsis>{{ row.order }}</td>
        <td nz-ellipsis>{{ row.variable }}</td>
        <td *ngIf="ptType==='multi'">
          <nz-upload
            [nzDisabled]="true"
            [nzFileList]="row.images"
            [nzLimit]="row.images.length"
          ></nz-upload>
        </td>
        <td nz-ellipsis>{{ row.predict }}</td>
        <td nz-ellipsis>{{ row.label }}</td>
        <td nz-ellipsis>{{ row.score }}</td>
        <td nz-ellipsis>{{ row.reason }}</td>
      </tr>
    </tbody>
  </nz-table>

  <nz-pagination
    [(nzPageIndex)]="pageInfo.currentPage"
    [nzTotal]="pageInfo.total"
    [nzPageSize]="pageInfo.pageSize.size"
    style="height: 5%"
  ></nz-pagination>
</div>
<div class="halfmodal-footer">
</div>
