.right-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.style1-main-collapse {
  border-bottom: 1px solid rgba(240, 240, 240, 1);
}

.style1-title-row {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  margin-bottom: 24px;
  justify-content: space-between;
  align-items: center;
}

.style1-title-left {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  gap: 4px;
  align-items: center;
}

.style1-title-text {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: left;
}


.style2-main-collapse {
  border-bottom: none
}

.style2-title-row {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;
}

.style2-title-left {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  gap: 4px;
  align-items: center;
}

.style2-title-text {
  font-size: 12px;
  letter-spacing: 0px;
  text-align: left;
}

.style3-main-collapse {
  border-bottom: none
}

.style3-title-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;
}


.style3-title-left {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  gap: 4px;
  align-items: center;
}

.style3-title-text {
  font-size: 12px;
  letter-spacing: 0px;
  text-align: left;
}

.style4-main-collapse {
  border-bottom: none
}

.style4-title-row {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 17px;
  justify-content: space-between;
  align-items: center;
}

.style4-title-left {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  gap: 4px;
  align-items: center;
}

.style4-title-text {
  font-size: 12px;
  letter-spacing: 0px;
  text-align: left;
}

.style5-main-collapse {
  border-bottom: 1px solid rgba(240, 240, 240, 1);
}

.style5-title-row {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  margin-bottom: 24px;
  justify-content: space-between;
  align-items: center;
}

.style5-title-left {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  gap: 4px;
  align-items: center;
}

.style5-title-text {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: left;
}
