<div class="com-drawer-title">
  {{ 'debugging' | i18nextEager }}
</div>

<div class="run-modal-wrapper run-modal-show com-drawer-content w-[600px]">
  <div class="content">
    <div class="exec-list">
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item *ngFor="let item of dates" (click)="onSelectDate(item)">
            <date-option-render [selectDate]="selectDate" [optionData]="item"></date-option-render>
          </li>
        </ul>
      </nz-dropdown-menu>
      <button nz-button nz-dropdown [nzDropdownMenu]="menu" class="date-selector" id="menu-basic">
        <asset-calendar-icon></asset-calendar-icon>
      </button>

      <div class="flex w-[calc(100%-36px)] gap-[8px]">
        <div class="flex h-fit w-[calc(100%-8px)] items-center gap-2">
          <div class="flex w-full">
            <div class="w-[35%]">
              <nz-select
                class="combo-select-left"
                id="conversation-list-select"
                style="width: 100%; min-width: 100%; margin-bottom: 20px"
                [nzPlaceHolder]="'select_placeholder' | i18nextEager"
                [(ngModel)]="conversationSelected"
                (ngModelChange)="changeConvSelected()"
                [nzCustomTemplate]="defaultTemplate"
              >
              @for (item of conversationList; track item.conversation_id) {
                <nz-option
                  [nzCustomContent]="true"
                  [nzValue]="item"
                >
                  <div>
                <span class="flex items-center justify-between">
                  {{ 'conversation' | i18nextEager }}
                  <span class="text-[#808080]">{{
                      formatToConvTime(item.start_time)
                    }}</span>
                </span>
                  </div>
                </nz-option>
              }
              </nz-select>
              <ng-template #defaultTemplate let-item>
                <div>
                    <span *ngIf="!isEmptyObject(conversationSelected); else emptyTmpl">
                    {{ 'conversation' | i18nextEager }}
                      <span>{{ formatToConvTime(conversationSelected.start_time) }}</span>
                  </span>
                </div>
              </ng-template>
            </div>

            <div class="w-[65%]">
              <nz-select
                class="combo-select-right"
                id="exec-list-select"
                style="width: 100%; min-width: 100%; margin-bottom: 20px"
                [nzPlaceHolder]="'select_placeholder' | i18nextEager"
                [(ngModel)]="executionSelected"
                (ngModelChange)="changeExecSelected()"
                [nzCustomTemplate]="execTemplate"
              >
              @for (item of executionList; track item.execution_id) {
                <nz-option
                  [nzCustomContent]="true"
                  [nzValue]="item"
                >
                  <div>
                    <span class="flex justify-between">
                      <span class="w-[calc(100%-70px)] overflow-hidden text-ellipsis">{{
                          item?.query
                        }}</span>
                      <span class="flex gap-[8px] text-[#808080] align-center">
                        <span>{{ formatToExecTime(item.start_time) }}</span>
                        <asset-loading-icon
                          *ngIf="
                            item.status === 'waiting' || item.status === 'loading'
                          "
                        ></asset-loading-icon>
                        <asset-success-icon
                          *ngIf="
                            item.status === 'succeed' ||
                            item.status === 'succeeded'
                          "
                        ></asset-success-icon>
                        <asset-error-icon
                          *ngIf="
                            item.status === 'failed' || item.status === 'FAILED'
                          "
                        ></asset-error-icon>
                      </span>
                    </span>
                  </div>
                </nz-option>
              }
              </nz-select>
              <ng-template #execTemplate let-item>
                <div>
                  {{ executionSelected?.query }}
                </div>
              </ng-template>
              <div class="w-full" #inputErrWrapper></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-log">
      <nz-tabset class="log-tabs" [nzSelectedIndex]="selectedIndex">
        <nz-tab [nzTitle]="tabs[0].title">
          <div *ngIf="workflowDebugInfo.list.length === 0 && !workflowDebugInfo?.status; else runResultTmpl" class="empty-run-result">
            <no-data-icon></no-data-icon>
            <span class="loading-text">{{ 'no_running_results' | i18nextEager }}</span>
          </div>
          <ng-template #runResultTmpl>
            <div class="flex h-full flex-col gap-[8px]">
              <div class="workflow-info-area">
                <div class="title-container">
                  <img alt="" class="workflow-status" [src]="getNodeStatus(workflowDebugInfo?.status)" />
                  <span
                    class="workflow-status-desc"
                    [ngStyle]="{
                      color: getWorkflowStatusDescColor(workflowDebugInfo?.status),
                    }"
                    >{{ workflowDebugInfo.status_desc }}</span
                  >
                </div>
                <div [ngClass]="workflowDebugInfo.list.length === 0 ? 'empty-info-container' : 'info-container'">
                  <div class="item-container" *ngFor="let item of workflowDebugInfo.list">
                    <span class="text-[#808080]">{{ item.title }}</span>
                    <span class="text-[#191919]">
                      <ng-container *ngIf="isTimestamp(item.content); else textTmpl">
                        {{ item.content | date: 'yyyy-MM-dd HH:mm:ss' }}
                      </ng-container>
                      <ng-template #textTmpl>
                        {{ item.content }}
                      </ng-template>
                    </span>
                  </div>
                </div>
              </div>
              <div *ngIf="workflowDebugInfo.result && workflowDebugInfo.status !== 'aborted'" class="text-chunk-area">
                <ng-container *ngIf="workflowDebugInfo.status === 'succeeded'; else failTmpl">
                  <div class="font-semibold">{{ 'output_result' | i18nextEager }}</div>
                  <app-markdown-answer
                    class="markdown-text w-full overflow-x-hidden"
                    [(answer)]="workflowDebugInfo.result"
                    [isSupKBResolver]="true"
                  ></app-markdown-answer>
                </ng-container>
                <ng-template #failTmpl>
                  <div class="font-semibold">{{ 'fail' | i18nextEager }}</div>
                  <div>{{ workflowDebugInfo.result }}</div>
                </ng-template>
              </div>
            </div>
          </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="tabs[1].title" (nzSelect)="onActivateDetails()">
          <div class="call-chain-area">
            <div class="mb-[8px] flex items-center justify-between">
              <div class="font-semibold text-[#191919]">{{ 'call_chain' | i18nextEager }}</div>
            </div>
            <nz-breadcrumb *ngIf="crumb.length > 1">
              <nz-breadcrumb-item *ngFor="let item of crumb" (click)="onSelectWorkflow(item)">
                {{ item.label }}
              </nz-breadcrumb-item>
            </nz-breadcrumb>
            <div *ngIf="!executionList.length || isEmptyObject(timelineData) || !callChainInfo.list.length" class="empty-run-result mt-[4px]">
              <no-data-icon></no-data-icon>
              <span class="loading-text">{{ 'no_call_details' | i18nextEager }}</span>
            </div>
            <ng-container *ngIf="executionList.length && chartViewMode === 'sequence'">
              <time-line
                *ngIf="!isEmptyObject(timelineData)"
                [data]="timelineData"
                [currentInvodeId]="curInvodeId"
                (handleClick)="onNodeClicked($event)"
              ></time-line>
              <ng-container *ngIf="nodeIdClicked">
                <ng-container *ngFor="let callItem of callChainInfo.list">
                  <ng-container *ngIf="callItem.node_uuid === nodeIdClicked">
                    <div class="sequence-item-wrapper flex flex-col gap-[16px] bg-[#fafafa]">
                      <ng-container *ngTemplateOutlet="callItemTemplate; context: { $implicit: callItem }"></ng-container>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="executionList.length && chartViewMode === 'list'">
              <div *ngIf="callChainInfo.list.length" class="call-chains-container">
                <div *ngFor="let callItem of callChainInfo.list" class="call-item-wrapper flex flex-col gap-[16px] bg-[#fafafa]">
                  <div class="call-item-wrapper flex flex-col bg-[#fafafa]" [ngClass]="{ 'gap-[16px]': !callItem?.exceptionChildren }">
                    <ng-container *ngTemplateOutlet="callItemTemplate; context: { $implicit: callItem }"></ng-container>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</div>

<ng-template #noInputs>
  <div class="mb-[12px]">{{ 'no_input' | i18nextEager }}</div>
</ng-template>
<ng-template #noOutputs>
  <div>{{ 'no_output' | i18nextEager }}</div>
</ng-template>

<ng-template #callItemTemplate let-callItem>
  <div
    class="call-item"
    (click)="changeCollapsedState(callItem)"
    [ngClass]="{ 'bg-unfolded': !callItem.collapsed }"
  >
    <div class="call-item-left">
      <nz-icon
        nzType="right"
        class="collapse-icon"
        [ngClass]="{ 'unfolded-icon': !callItem.collapsed }"
      ></nz-icon>
      <img alt="" class="call-node-icon" [src]="getNodeIcon(callItem?.node_type)"/>
      <span class="text-[#191919] overflow-hidden text-ellipsis">
        {{ callItem?.node_name }}
      </span>
      <span *ngIf="isQuestionNode(callItem?.node_type)" class="rounds">
        {{ 'rounds_count_of_dialogue' | i18nextEager: { number: callItem.questionerRounds.length } }}
      </span>
      <span *ngIf="callItem?.exceptionChildren?.length - 1 > 0" class="rounds">
        {{ 'rounds_count_of_repeat' | i18nextEager: { number: callItem.exceptionChildren.length - 1 } }}
      </span>
      <span *ngIf="callItem?.index > 0" class="rounds">{{ indexMap[callItem.index] }}</span>
    </div>
    <div class="call-item-right">
      <span
        *ngIf="callItem?.first_token_time && isLLMNode(callItem?.node_type)"
        class="first-token-time"
      >
        {{ 'first_token' | i18nextEager }} {{ callItem?.first_token_time }}
      </span>
      <span class="call-elapsed-time">{{ callItem?.elapsed_time }}</span>
      <img alt="" class="call-node-status" [src]="getNodeStatus(callItem?.node_status)" />
    </div>
  </div>

  <div class="call-node-IO" [hidden]="callItem.collapsed" *ngIf="!callItem.exceptionChildren">
    <div class="error-card-text" (click)="openErrorNode(callItem)" *ngIf="callItem?.node_status ==='failed' || callItem?.node_status ==='FAILED'">
      <ng-container *ngIf="!callItem.error_message.error_code">
        {{ callItem.error_message }}
      </ng-container>
      <ng-container *ngIf="callItem.error_message.error_code">
        <div>{{ callItem.error_message.error_msg }}</div>
        <div>{{ 'reason' | i18nextEager }}: {{ callItem.error_message?.error_reason || '' }}</div>
        <div>{{ 'suggestion' | i18nextEager }}: {{ callItem.error_message?.error_suggestion || '' }}</div>
        <div class="flex items-center gap-[8px]">{{ 'errorCode' | i18nextEager }}: {{ callItem.error_message?.error_code || '' }}
          <asset-copy-icon
            *ngIf="callItem.error_message?.error_code"
            class="cursor-pointer"
            (click)="handleCopyErrorCode($event, callItem.error_message, callItem.error_message?.error_code)"
          ></asset-copy-icon>
          <asset-copy-success-icon
            *ngIf="callItem.error_message.showCodeCopySuccess"
            class="cursor-pointer"
          ></asset-copy-success-icon>
        </div>
      </ng-container>
    </div>

    <div class="crumb" *ngIf="callItem?.node_type === 'Workflow'" (click)="getChildWorkflow(callItem)">
      <nz-icon class="mr-1" nzType="export"></nz-icon>
      <span>{{ 'view_sub_workflow_call_chain' | i18nextEager }}</span>
    </div>

    <div *ngIf="!isQuestionNode(callItem?.node_type) && !isParamExtractionNode(callItem?.node_type);" class="flex-gap-center">
      <div *ngIf="!isIOEmpty(callItem.inputs); else noInputs" class="cell-bg-border">
        <div class="node-inputs-area">
          <div class="flex-inline-center" (click)="changeInputCollapsedState(callItem)">
            <span class="text-[#191919]">{{ 'input' | i18nextEager }}</span>
            <nz-icon
              nzType="up"
              class="collapse-icon"
              [ngClass]="{ 'invert-icon': !callItem?.inputsCollapsed }"
            ></nz-icon>
          </div>
          <div class="flex-inline-center">
            <asset-copy-icon
              *ngIf="!callItem.inputsCopyIcon"
              class="cursor-pointer"
              (click)="handleCopy(callItem, 'input')"
            ></asset-copy-icon>
            <asset-copy-success-icon
              *ngIf="callItem.inputsCopyIcon"
              class="cursor-pointer"
            ></asset-copy-success-icon>
          </div>
        </div>
        <div class="json-wrap" [hidden]="callItem?.inputsCollapsed">
          <json-viewer [jsonData]="callItem.inputs"></json-viewer>
        </div>
      </div>
      <div *ngIf="!isIOEmpty(callItem.outputs); else noOutputs" class="cell-bg-border">
        <div class="node-inputs-area">
          <div class="flex-inline-center" (click)="changeOutputsCollapsedState(callItem)">
            <span class="text-[#191919]">{{ 'output' | i18nextEager }}</span>
            <nz-icon
              nzType="up"
              class="collapse-icon"
              [ngClass]="{ 'invert-icon': !callItem?.outputsCollapsed }"
            ></nz-icon>
          </div>
          <div class="flex-inline-center">
            <asset-copy-icon
              *ngIf="!callItem.outputsCopyIcon"
              class="cursor-pointer"
              (click)="handleCopy(callItem, 'output')"
            ></asset-copy-icon>
            <asset-copy-success-icon
              *ngIf="callItem.outputsCopyIcon"
              class="cursor-pointer"
            ></asset-copy-success-icon>
          </div>
        </div>
        <div class="json-wrap" [hidden]="callItem?.outputsCollapsed">
          <json-viewer [jsonData]="callItem.outputs"></json-viewer>
        </div>
      </div>
      <ng-container
        *ngTemplateOutlet="
          modelIOTmpl;
          context: {
            callItem,
            fieldType: 'llm_inputs',
            title: 'model_input' | i18nextEager,
            copyType: 'modelInput',
            iconFlag: 'modelInputCopyIcon'
          }
        "
      ></ng-container>
      <ng-container
        *ngTemplateOutlet="
          modelIOTmpl;
          context: {
            callItem,
            fieldType: 'llm_outputs',
            title: 'model_output' | i18nextEager,
            copyType: 'modelOutput',
            iconFlag: 'modelOutputCopyIcon'
          }
        "
      ></ng-container>
    </div>
    <div *ngIf="isQuestionNode(callItem?.node_type)">
      <nz-select
        id="questioner-node-select"
        style="width: 100%; min-width: 100%; margin-bottom: 16px"
        [nzNotFoundContent]="'no_data' | i18nextEager"
        [nzPlaceHolder]="'select_placeholder' | i18nextEager"
        [nzOptions]="callItem.questionerRounds"
        [(ngModel)]="callItem.roundSelected"
        nzLabel="content" nzKey="uuid"
      ></nz-select>
      <div *ngIf="!isIOEmpty(callItem.inputs); else noInputs" class="cell-bg-border">
        <div class="node-inputs-area">
          <div class="flex-inline-center">
            <span class="text-[#191919]">{{ 'input_params' | i18nextEager }}</span>
          </div>
          <div class="flex-inline-center">
            <asset-copy-icon
              *ngIf="!callItem.inputsCopyIcon"
              class="cursor-pointer"
              (click)="handleCopy(callItem, 'input')"
            ></asset-copy-icon>
            <asset-copy-success-icon
              *ngIf="callItem.inputsCopyIcon"
              class="cursor-pointer"
            ></asset-copy-success-icon>
          </div>
        </div>
        <div class="json-wrap" [hidden]="callItem?.inputsCollapsed">
          <json-viewer [jsonData]="callItem.inputs"></json-viewer>
        </div>
      </div>
      <ng-container
        *ngIf="
          getMessagesByUuid(
            callItem.messages,
            callItem.roundSelected?.uuid
          ) as curIO
        "
      >
        <ng-container *ngIf="curIO.length && !isIOEmpty(curIO[0]) && curIO[0].roundIndex!== 0">
          <div
            *ngIf="curIO.length && !isIOEmpty(curIO[0]); else noInputs"
            class="cell-bg-border"
          >
            <div class="node-inputs-area">
              <span class="text-[#191919]">{{ 'chat_input' | i18nextEager }}</span>
              <asset-copy-icon
                *ngIf="!curIO[0]?.copyIcon"
                class="cursor-pointer"
                (click)="copyQuestionNodeIO(curIO[0])"
              ></asset-copy-icon>
              <asset-copy-success-icon
                *ngIf="curIO[0]?.copyIcon"
                class="cursor-pointer"
              ></asset-copy-success-icon>
            </div>
            <div class="json-wrap">
              <json-viewer [jsonData]="removeUuid(curIO[0])"></json-viewer>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-container
        *ngIf="
          getMessagesByUuid(
            callItem.messages,
            callItem.roundSelected?.uuid
          ) as curIO
        "
      >
        <div *ngIf="curIO.length && !isIOEmpty(curIO[1]); else noOutputs" class="cell-bg-border">
          <div class="node-inputs-area">
            <span class="text-[#191919]">{{ 'output' | i18nextEager }}</span>
            <asset-copy-icon
              *ngIf="!curIO[1]?.copyIcon"
              class="cursor-pointer"
              (click)="copyQuestionNodeIO(curIO[1])"
            ></asset-copy-icon>
            <asset-copy-success-icon
              *ngIf="curIO[1]?.copyIcon"
              class="cursor-pointer"
            ></asset-copy-success-icon>
          </div>
          <div class="json-wrap">
            <json-viewer [jsonData]="removeUuid(curIO[1])"></json-viewer>
          </div>
        </div>
      </ng-container>
      <ng-container
        *ngTemplateOutlet="
          modelIOTmpl;
          context: {
            callItem,
            fieldType: 'llm_inputs',
            title: 'model_input' | i18nextEager,
            copyType: 'modelInput',
            iconFlag: 'modelInputCopyIcon'
          }
        "
      ></ng-container>
      <ng-container
        *ngTemplateOutlet="
          modelIOTmpl;
          context: {
            callItem,
            fieldType: 'llm_outputs',
            title: 'model_output' | i18nextEager,
            copyType: 'modelOutput',
            iconFlag: 'modelOutputCopyIcon'
          }
        "
      ></ng-container>
    </div>
    <div *ngIf="isParamExtractionNode(callItem?.node_type)">
      <meta-param-extraction-log [callItem]="callItem" (showChildEvent)="showChildEvent($event, callItem)"></meta-param-extraction-log>
    </div>
  </div>
  <div class="call-node-IO" [hidden]="callItem.collapsed" *ngIf="callItem.exceptionChildren">
    <div class="error-card-text" (click)="openErrorNode(callItem)" *ngIf="callItem?.node_status ==='failed' || callItem?.node_status ==='FAILED'">
      <ng-container *ngIf="!callItem.error_message.error_code">
        {{ callItem.error_message }}
      </ng-container>
      <ng-container *ngIf="callItem.error_message.error_code">
        <div>{{ callItem.error_message.error_msg }}</div>
        <div>{{ 'reason' | i18nextEager }}: {{ callItem.error_message?.error_reason || '' }}</div>
        <div>{{ 'suggestion' | i18nextEager }}: {{ callItem.error_message?.error_suggestion || '' }}</div>
        <div class="flex items-center gap-[8px]">{{ 'errorCode' | i18nextEager }}: {{ callItem.error_message?.error_code || '' }}
          <asset-copy-icon
            *ngIf="callItem.error_message?.error_code"
            class="cursor-pointer"
            (click)="handleCopyErrorCode($event, callItem.error_message, callItem.error_message?.error_code)"
          ></asset-copy-icon>
          <asset-copy-success-icon
            *ngIf="callItem.error_message.showCodeCopySuccess"
            class="cursor-pointer"
          ></asset-copy-success-icon>
        </div>
      </ng-container>
    </div>
    <div
      *ngIf="callItem.exceptionChildren.length"
      class="call-chains-container !h-full"
    >
      <div
        *ngFor="let callItem2 of callItem.exceptionChildren; let i = index"
        class="call-item-wrapper flex flex-col gap-[16px] bg-[#fafafa]"
      >
        <div
          class="call-item-wrapper flex flex-col gap-[16px] bg-[#fafafa]"
        >
          <ng-container
            *ngTemplateOutlet="
              callItemTemplate;
              context: { $implicit: callItem2 }
            "
          >
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #emptyTmpl></ng-template>

<ng-template #modelIOTmpl let-callItem="callItem" let-fieldType="fieldType" let-title="title" let-copyType="copyType" let-iconFlag="iconFlag">
  <div *ngIf="!isIOEmpty(getLlmField(callItem?.metadata, fieldType))" class="mt-[12px]">
    <div class="node-inputs-area">
      <span class="text-[#191919]">{{ title }}</span>
      <asset-copy-icon *ngIf="!callItem?.[iconFlag]" class="cursor-pointer" (click)="handleCopy(callItem, copyType)"></asset-copy-icon>
      <asset-copy-success-icon *ngIf="callItem?.[iconFlag]" class="cursor-pointer"></asset-copy-success-icon>
    </div>
    <div class="json-wrap">
      <json-viewer [jsonData]="getLlmField(callItem?.metadata, fieldType)"></json-viewer>
    </div>
  </div>
</ng-template>
