::ng-deep .modal-large1200-class {
  width: 1200px !important;
}

::ng-deep .import-header{
  max-height: 86px !important;
}

::ng-deep .import-footer{
  padding: 12px 32px 32px !important;
  max-height:68px !important;
}

