#object-manage {
  .top-title-area {
    display: flex;
    justify-content: space-between;
    margin: 12px 0 24px 0;

    .title-area-left {
      display: flex;
      margin-right: 8px;
      color: rgba(25, 25, 25, 1);
      font-size: 20px;
      font-weight: 600;

      .page-title {
        margin-right: 6px;
      }
    }
  }

  .query-operate {
    display: flex;
    margin: 24px 0 24px 0;
    width: 100%;

    .search-input {
      flex: 1;
      margin-right: 8px;
    }
  }

  .list-no-data {
    height: calc(100vh - 370px);

    .show-no-data-tr {
      background-color: transparent;
      transition: none;
    }
  }

  .table-style {
    border-bottom: 0;
    border-radius: 8px;
    overflow: hidden;
  }
}

::ng-deep .ti-message-icon {
  display: none;
}

::ng-deep {
  #node-param-tree {
    .ti3-tree-content-box {
      padding-left: 0;
      cursor: default;
      min-height: 28px;
      line-height: 28px;
      align-items: normal;

      .ti3-icon-minus-square,
      .ti3-icon-plus-square {
        margin-top: 6px;
      }

      .ti3-tree-item-guide-line {
        left: -16px;
      }

      .ti3-tree-node-text-wrapper {
        &:hover {
          background-color: #fff;
        }

        padding-left: 0;
        padding-right: 0;
        width: 100%;
      }

      .ti3-tree-item-active {
        background: inherit;
        font-weight: inherit;
        color: inherit;
      }
    }
  }
}
