.kb-reference-container {
  height: 100%;
  position: relative;

  .kb-reference-no-data {
    height: calc(100% - 150px);
    display: block;
  }

  .loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
